In [1]:
# Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from config import mysql_pass

# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

# PyMySQL
import pymysql
pymysql.install_as_MySQLdb()

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

### Data Frame | Category Distribution - Monthly Data

___

In [2]:
path = 'tiles/'

In [3]:
# Load in file
category_distribution = path + "category_distribution.csv"

In [4]:
# Read and display the CSV with Pandas
category_distribution_df = pd.read_csv(category_distribution, sep=';', encoding='latin-1')

In [5]:
category_distribution_df.head()

  Latitude Longitude     Date    Source   Channel  Merchants  Cards    Txs Avg. amount Category level  Category  Merchants by category  Cards by category  Txs by category Avg. amount by category
0   40,475    -3,835  2015-10       all       pos        9.0  150.0  171.0    87,20398  subcategories  filtered                    NaN                NaN            171.0                87,20398
1   40,475    -3,835  2015-10  national  bbva_pos        NaN    NaN    NaN         NaN  subcategories       NaN                    NaN                NaN              NaN                     NaN
2   40,475    -3,835  2015-10      bbva       pos        8.0  102.0  120.0   100,40633  subcategories  filtered                    NaN                NaN            120.0               100,40634
3   40,475    -3,835  2015-10   foreign  bbva_pos        NaN    NaN    NaN         NaN  subcategories       NaN                    NaN                NaN              NaN                     NaN
4    40,39     -3,83  2015-10       all       pos        NaN    NaN    NaN         NaN  subcategories  filtered                    NaN                NaN             16.0               182,88563

In [6]:
category_distribution_df.count()

Latitude                   13851
Longitude                  13851
Date                       13851
Source                     13851
Channel                    13851
Merchants                  10212
Cards                      10212
Txs                        10212
Avg. amount                10212
Category level             13851
Category                   12283
Merchants by category       7348
Cards by category           7348
Txs by category            12283
Avg. amount by category    12283
dtype: int64

In [7]:
category_distribution_df.dropna(how='any', inplace=True)

In [8]:
category_distribution_df.head()

   Latitude Longitude     Date Source Channel  Merchants    Cards      Txs Avg. amount Category level       Category  Merchants by category  Cards by category  Txs by category Avg. amount by category
50   40,465    -3,795  2015-10    all     pos       18.0   1527.0   2467.0      32,422  subcategories  es_restaurant                    5.0              340.0            417.0                39,17149
65   40,465     -3,79  2015-10    all     pos        3.0    136.0    161.0   114,21037  subcategories  es_restaurant                    3.0              136.0            161.0               114,21037
66   40,465     -3,79  2015-10   bbva     pos        3.0    136.0    161.0   114,21037  subcategories  es_restaurant                    3.0              136.0            161.0               114,21037
71   40,445    -3,785  2015-10    all     pos       81.0  19984.0  27988.0    47,17758  subcategories  es_fashionbig                    4.0             9206.0          11215.0                47,81527
72   40,445    -3,785  2015-10    all     pos       81.0  19984.0  27988.0    47,17758  subcategories     es_foodsme                   10.0             1515.0           2226.0                34,60181

In [9]:
category_distribution_df.count()

Latitude                   7019
Longitude                  7019
Date                       7019
Source                     7019
Channel                    7019
Merchants                  7019
Cards                      7019
Txs                        7019
Avg. amount                7019
Category level             7019
Category                   7019
Merchants by category      7019
Cards by category          7019
Txs by category            7019
Avg. amount by category    7019
dtype: int64

In [10]:
category_distribution_df['Latitude'] = [x.replace(',','.') for x in category_distribution_df["Latitude"]]
category_distribution_df['Longitude'] = [x.replace(',','.') for x in category_distribution_df["Longitude"]]
category_distribution_df['Avg. amount'] = [ str(x).replace(',','.') for x in category_distribution_df["Avg. amount"]]
category_distribution_df['Avg. amount by category'] = [ str(x).replace(',','.') for x in category_distribution_df["Avg. amount by category"]]

In [11]:
category_distribution_df.head()

   Latitude Longitude     Date Source Channel  Merchants    Cards      Txs Avg. amount Category level       Category  Merchants by category  Cards by category  Txs by category Avg. amount by category
50   40.465    -3.795  2015-10    all     pos       18.0   1527.0   2467.0      32.422  subcategories  es_restaurant                    5.0              340.0            417.0                39.17149
65   40.465     -3.79  2015-10    all     pos        3.0    136.0    161.0   114.21037  subcategories  es_restaurant                    3.0              136.0            161.0               114.21037
66   40.465     -3.79  2015-10   bbva     pos        3.0    136.0    161.0   114.21037  subcategories  es_restaurant                    3.0              136.0            161.0               114.21037
71   40.445    -3.785  2015-10    all     pos       81.0  19984.0  27988.0    47.17758  subcategories  es_fashionbig                    4.0             9206.0          11215.0                47.81527
72   40.445    -3.785  2015-10    all     pos       81.0  19984.0  27988.0    47.17758  subcategories     es_foodsme                   10.0             1515.0           2226.0                34.60181

In [12]:
# Verify the different columns. The amount, cards, ... should be numeric.
category_distribution_df.dtypes

Latitude                    object
Longitude                   object
Date                        object
Source                      object
Channel                     object
Merchants                  float64
Cards                      float64
Txs                        float64
Avg. amount                 object
Category level              object
Category                    object
Merchants by category      float64
Cards by category          float64
Txs by category            float64
Avg. amount by category     object
dtype: object

In [13]:
category_distribution_df.Category.unique()

array(['es_restaurant', 'es_fashionbig', 'es_foodsme', 'es_fashionsme',
       'es_pharmacy', 'es_beauty', 'es_cafe', 'es_sportandtoys',
       'es_drugstoresme', 'es_homesme', 'es_hospital', 'es_shoe',
       'es_books', 'es_goods', 'es_car', 'es_veterinarian',
       'es_telephony', 'es_tobacconists', 'es_techsme', 'es_jewelry',
       'es_gas', 'es_diysme', 'es_fastfood', 'es_pub', 'es_others',
       'es_hotel', 'es_photo', 'es_travelagency', 'es_education',
       'es_supermarket', 'es_leather', 'es_floristssme',
       'es_musicalinstrument', 'es_leisuretime', 'es_sport',
       'es_opticians', 'es_bet', 'es_realestate', 'es_parking',
       'es_drycleaner', 'es_barsandrestaurants', 'es_fashion',
       'es_health', 'es_wellnessandbeauty', 'es_food', 'es_otherservices',
       'es_home', 'es_sportsandtoys', 'es_tech', 'es_contents', 'es_auto',
       'es_transportation', 'es_hotelservices', 'es_travel', 'es_leisure',
       'es_propertyservices'], dtype=object)

In [14]:
category_distribution_df['Category level'].unique()

array(['subcategories', 'categories'], dtype=object)

### Data Frame | Consumption Pattern - Monthly Data

___

In [15]:
# Load in second file
consumption_pattern = path + "consumption_pattern.csv"

In [16]:
# Read and display the XLS with Pandas
consumption_pattern_df = pd.read_csv(consumption_pattern, sep=';', encoding='latin-1')

In [17]:
consumption_pattern_df.head(20)

   Latitude Longitude     Date Source Channel           Category  Merchants  Cards    Txs Avg. amount       Day  Merchants by day  Cards by day  Txs by day Avg. amount by day Max. amount by day Min. amount by day Std. amount by day  Hour  Merchants by hour  Cards by hour  Txs by hour Avg. amount by hour Max. amount by hour Min. amount by hour Std. amount hour
0    40,325     -3,71  2015-10   bbva     pos                all        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
1    40,325     -3,71  2015-10   bbva     pos           es_sport        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
2    40,325     -3,71  2015-10    all     pos           es_sport        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
3    40,325     -3,71  2015-10    all     pos                all        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
4    40,325     -3,71  2015-10   bbva     pos   es_sportsandtoys        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
5    40,325     -3,71  2015-10    all     pos   es_sportsandtoys        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
6     40,33     -3,66  2015-10    all     pos            es_home        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
7     40,33     -3,66  2015-10   bbva     pos          es_diysme        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
8     40,33     -3,66  2015-10   bbva     pos            es_home        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
9     40,33     -3,66  2015-10    all     pos                all        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
10    40,33     -3,66  2015-10   bbva     pos                all        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
11    40,33     -3,66  2015-10    all     pos          es_diysme        NaN    NaN    NaN         NaN       NaN               NaN           NaN         NaN                NaN                NaN                NaN                NaN   NaN                NaN            NaN          NaN                 NaN                 NaN                 NaN              NaN
12    40,33     -3,69  2015-10   bbva     pos         es_parking        5.0  598.0  738.0     8,86453  thursday               5.0         112.0       120.0            9,25167             123,43               0,66              11,85  15.0                5.0           64.0         69.0             9,49232              123,43                0,66            14,96
13    40,33     -3,69  2015-10    all     pos                all        8.0  636.0  777.0     9,73006    sunday               7.0          95.0        99.0           10,40576             161,81               0,11              17,51  16.0                1.0            1.0          1.0               10,81               10,81               10,81                0
14    40,33     -3,69  2015-10    all     pos                all        8.0  636.0  777.0     9,73006    sunday               7.0          95.0        99.0           10,40576             161,81               0,11              17,51  17.0                1.0            2.0          2.0               22,42               29,23               15,61             6,81
15    40,33     -3,69  2015-10    all     pos                all        8.0  636.0  777.0     9,73006    sunday               7.0          95.0        99.0           10,40576             161,81               0,11              17,51  19.0                1.0            2.0          2.0               54,02                60,7               47,34             6,68
16    40,33     -3,69  2015-10    all     pos                all        8.0  636.0  777.0     9,73006    sunday               7.0          95.0        99.0           10,40576             161,81               0,11              17,51  21.0                3.0           17.0         17.0            18,35824              161,81                0,41            36,39
17    40,33     -3,69  2015-10    all     pos                all        8.0  636.0  777.0     9,73006    monday               6.0         104.0       106.0           12,05038              146,7               0,34              20,77   9.0                2.0            7.0          7.0             7,74143               23,61                0,59             7,22
18    40,33     -3,69  2015-10   bbva     pos  es_transportation        5.0  598.0  738.0     8,86453  saturday               5.0         102.0       108.0            8,97935              36,23               0,76               6,27   9.0                1.0            4.0          4.0              6,4275                8,73                2,85             2,25
19    40,33     -3,69  2015-10   bbva     pos  es_transportation        5.0  598.0  738.0     8,86453  saturday               5.0         102.0       108.0            8,97935              36,23               0,76               6,27  10.0                2.0           38.0         39.0            10,23846               25,99                2,23             5,31

In [18]:
consumption_pattern_df.count()

Latitude               761374
Longitude              761374
Date                   761374
Source                 761374
Channel                761374
Category               761374
Merchants              715230
Cards                  715230
Txs                    715230
Avg. amount            715230
Day                    715230
Merchants by day       715230
Cards by day           715230
Txs by day             715230
Avg. amount by day     715230
Max. amount by day     715230
Min. amount by day     715230
Std. amount by day     715230
Hour                   715230
Merchants by hour      715230
Cards by hour          715230
Txs by hour            715230
Avg. amount by hour    715230
Max. amount by hour    715230
Min. amount by hour    715230
Std. amount hour       715230
dtype: int64

In [19]:
list(consumption_pattern_df.columns.values)

['Latitude',
 'Longitude',
 'Date',
 'Source',
 'Channel',
 'Category',
 'Merchants',
 'Cards',
 'Txs',
 'Avg. amount',
 'Day',
 'Merchants by day',
 'Cards by day',
 'Txs by day',
 'Avg. amount by day',
 'Max. amount by day',
 'Min. amount by day',
 'Std. amount by day',
 'Hour',
 'Merchants by hour',
 'Cards by hour',
 'Txs by hour',
 'Avg. amount by hour',
 'Max. amount by hour',
 'Min. amount by hour',
 'Std. amount hour']

In [20]:
consumption_pattern_df.dropna(how='any', inplace=True)

In [21]:
consumption_pattern_df.head()

   Latitude Longitude     Date Source Channel    Category  Merchants  Cards    Txs Avg. amount       Day  Merchants by day  Cards by day  Txs by day Avg. amount by day Max. amount by day Min. amount by day Std. amount by day  Hour  Merchants by hour  Cards by hour  Txs by hour Avg. amount by hour Max. amount by hour Min. amount by hour Std. amount hour
12    40,33     -3,69  2015-10   bbva     pos  es_parking        5.0  598.0  738.0     8,86453  thursday               5.0         112.0       120.0            9,25167             123,43               0,66              11,85  15.0                5.0           64.0         69.0             9,49232              123,43                0,66            14,96
13    40,33     -3,69  2015-10    all     pos         all        8.0  636.0  777.0     9,73006    sunday               7.0          95.0        99.0           10,40576             161,81               0,11              17,51  16.0                1.0            1.0          1.0               10,81               10,81               10,81                0
14    40,33     -3,69  2015-10    all     pos         all        8.0  636.0  777.0     9,73006    sunday               7.0          95.0        99.0           10,40576             161,81               0,11              17,51  17.0                1.0            2.0          2.0               22,42               29,23               15,61             6,81
15    40,33     -3,69  2015-10    all     pos         all        8.0  636.0  777.0     9,73006    sunday               7.0          95.0        99.0           10,40576             161,81               0,11              17,51  19.0                1.0            2.0          2.0               54,02                60,7               47,34             6,68
16    40,33     -3,69  2015-10    all     pos         all        8.0  636.0  777.0     9,73006    sunday               7.0          95.0        99.0           10,40576             161,81               0,11              17,51  21.0                3.0           17.0         17.0            18,35824              161,81                0,41            36,39

In [22]:
consumption_pattern_df.count()

Latitude               715230
Longitude              715230
Date                   715230
Source                 715230
Channel                715230
Category               715230
Merchants              715230
Cards                  715230
Txs                    715230
Avg. amount            715230
Day                    715230
Merchants by day       715230
Cards by day           715230
Txs by day             715230
Avg. amount by day     715230
Max. amount by day     715230
Min. amount by day     715230
Std. amount by day     715230
Hour                   715230
Merchants by hour      715230
Cards by hour          715230
Txs by hour            715230
Avg. amount by hour    715230
Max. amount by hour    715230
Min. amount by hour    715230
Std. amount hour       715230
dtype: int64

In [23]:
consumption_pattern_df['Latitude'] = [x.replace(',','.') for x in consumption_pattern_df["Latitude"]]
consumption_pattern_df['Longitude'] = [x.replace(',','.') for x in consumption_pattern_df["Longitude"]]
consumption_pattern_df['Avg. amount'] = [ str(x).replace(',','.') for x in consumption_pattern_df["Avg. amount"]]
consumption_pattern_df['Avg. amount by day'] = [ str(x).replace(',','.') for x in consumption_pattern_df["Avg. amount by day"]]
consumption_pattern_df['Max. amount by day'] = [ str(x).replace(',','.') for x in consumption_pattern_df["Max. amount by day"]]
consumption_pattern_df['Min. amount by day'] = [ str(x).replace(',','.') for x in consumption_pattern_df["Min. amount by day"]]
consumption_pattern_df['Std. amount by day'] = [ str(x).replace(',','.') for x in consumption_pattern_df["Std. amount by day"]]
consumption_pattern_df['Avg. amount by hour'] = [ str(x).replace(',','.') for x in consumption_pattern_df["Avg. amount by hour"]]
consumption_pattern_df['Max. amount by hour'] = [ str(x).replace(',','.') for x in consumption_pattern_df["Max. amount by hour"]]
consumption_pattern_df['Min. amount by hour'] = [ str(x).replace(',','.') for x in consumption_pattern_df["Min. amount by hour"]]
consumption_pattern_df['Std. amount hour'] = [ str(x).replace(',','.') for x in consumption_pattern_df["Std. amount hour"]]

In [54]:
 consumption_pattern_df.rename(columns={'Avg. amount':'Avg_amount',
 'Merchants by day':'Merchants_by_day',
 'Cards by day':'Cards_by_day',
 'Txs by day':'Txs_by_day',
 'Avg. amount by day':'Avg_amount_by_day',
 'Max. amount by day':'Max_amount_by_day',
 'Min. amount by day':'Min_amount_by_day',
 'Std. amount by day':'Std_amount_by_day',
 'Merchants by hour':'Merchants_by_hour',
 'Cards by hour':'Cards_by_hour',
 'Txs by hour':'Txs_by_hour',
 'Avg. amount by hour':'Avg_amount_by_hour',
 'Max. amount by hour':'Max_amount_by_hour',
 'Min. amount by hour':'Min_amount_by_hour',
 'Std. amount hour':'Std_amount_hour'}, 
                 inplace=True)

In [55]:
consumption_pattern_df.head()

   Latitude Longitude     Date Source    Category  Merchants  Cards    Txs Avg_amount       Day  Merchants_by_day  Cards_by_day  Txs_by_day Avg_amount_by_day Max_amount_by_day Min_amount_by_day Std_amount_by_day  Hour  Merchants_by_hour  Cards_by_hour  Txs_by_hour Avg_amount_by_hour Max_amount_by_hour Min_amount_by_hour Std_amount_hour
12    40.33     -3.69  2015-10   bbva  es_parking        5.0  598.0  738.0    8.86453  thursday               5.0         112.0       120.0           9.25167            123.43              0.66             11.85  15.0                5.0           64.0         69.0            9.49232             123.43               0.66           14.96
13    40.33     -3.69  2015-10    all         all        8.0  636.0  777.0    9.73006    sunday               7.0          95.0        99.0          10.40576            161.81              0.11             17.51  16.0                1.0            1.0          1.0              10.81              10.81              10.81               0
14    40.33     -3.69  2015-10    all         all        8.0  636.0  777.0    9.73006    sunday               7.0          95.0        99.0          10.40576            161.81              0.11             17.51  17.0                1.0            2.0          2.0              22.42              29.23              15.61            6.81
15    40.33     -3.69  2015-10    all         all        8.0  636.0  777.0    9.73006    sunday               7.0          95.0        99.0          10.40576            161.81              0.11             17.51  19.0                1.0            2.0          2.0              54.02               60.7              47.34            6.68
16    40.33     -3.69  2015-10    all         all        8.0  636.0  777.0    9.73006    sunday               7.0          95.0        99.0          10.40576            161.81              0.11             17.51  21.0                3.0           17.0         17.0           18.35824             161.81               0.41           36.39

In [25]:
consumption_pattern_df.Category.unique()

array(['es_parking', 'all', 'es_transportation', 'es_car', 'es_auto',
       'es_home', 'es_barsandrestaurants', 'es_sportsandtoys', 'es_cafe',
       'es_health', 'es_foodsme', 'es_food', 'es_hospital',
       'es_restaurant', 'es_wellnessandbeauty', 'es_otherservices',
       'es_fashion', 'es_supermarket', 'es_leather', 'es_pharmacy',
       'es_fashionsme', 'es_beauty', 'es_diysme', 'es_goods',
       'es_sportandtoys', 'es_tech', 'es_telephony', 'es_shoe',
       'es_jewelry', 'es_sport', 'es_drugstoresme', 'es_homesme',
       'es_opticians', 'es_techsme', 'es_tobacconists', 'es_books',
       'es_contents', 'es_veterinarian', 'es_fastfood', 'es_gas',
       'es_education', 'es_others', 'es_hotel', 'es_hotelservices',
       'es_travelagency', 'es_travel', 'es_pub', 'es_leisure',
       'es_fashionbig', 'es_leisuretime', 'es_photo', 'es_floristssme',
       'es_musicalinstrument', 'es_realestate', 'es_propertyservices',
       'es_drycleaner', 'es_bet'], dtype=object)

In [26]:
list(consumption_pattern_df.columns.values)

['Latitude',
 'Longitude',
 'Date',
 'Source',
 'Channel',
 'Category',
 'Merchants',
 'Cards',
 'Txs',
 'Avg. amount',
 'Day',
 'Merchants by day',
 'Cards by day',
 'Txs by day',
 'Avg. amount by day',
 'Max. amount by day',
 'Min. amount by day',
 'Std. amount by day',
 'Hour',
 'Merchants by hour',
 'Cards by hour',
 'Txs by hour',
 'Avg. amount by hour',
 'Max. amount by hour',
 'Min. amount by hour',
 'Std. amount hour']

### Data Frame | Origin Distribution Ages Genders - Monthly Data

___

In [27]:
origin_distribution = path + "origin_distribution_ages_genders.csv"

In [28]:
# Read and display the XLS with Pandas
origin_distribution_df = pd.read_csv(origin_distribution, sep=';', encoding='latin-1')

In [29]:
origin_distribution_df.head()

  Latitude Longitude     Date Source Channel  Merchants  Cards    Txs Avg. amount Origin type Origin  Merchants by origin  Cards by origin  Txs by origin Avg. amount by origin  Age  Merchants by age  Cards by age  Txs by age Avg. amount by age    Gender  Merchants by gender  Cards by gender  Txs by gender Avg. amount by gender
0   40,325     -3,71  2015-10   bbva     pos        NaN    NaN    NaN         NaN  subregions    NaN                  NaN              NaN            NaN                   NaN  NaN               NaN           NaN         NaN                NaN       NaN                  NaN              NaN            NaN                   NaN
1    40,33     -3,66  2015-10   bbva     pos        NaN    NaN    NaN         NaN  subregions    NaN                  NaN              NaN            NaN                   NaN  NaN               NaN           NaN         NaN                NaN       NaN                  NaN              NaN            NaN                   NaN
2    40,33     -3,69  2015-10   bbva     pos        8.0  620.0  760.0     9,45928  subregions     08                  4.0             12.0           13.0               8,95692    1               3.0           3.0         3.0            9,19333  filtered                  NaN              NaN            3.0               9,19333
3    40,33     -3,69  2015-10   bbva     pos        8.0  620.0  760.0     9,45928  subregions     48                  5.0             16.0           17.0               8,42118    2               3.0           7.0         7.0            7,47429  filtered                  NaN              NaN            1.0                 10,29
4    40,33     -3,69  2015-10   bbva     pos        8.0  620.0  760.0     9,45928  subregions     48                  5.0             16.0           17.0               8,42118    3               3.0           3.0         4.0             7,7975  filtered                  NaN              NaN            4.0                7,7975

In [30]:
origin_distribution_df.count()

Latitude                 145672
Longitude                145672
Date                     145672
Source                   145672
Channel                  145672
Merchants                144525
Cards                    144525
Txs                      144525
Avg. amount              144525
Origin type              145672
Origin                   144525
Merchants by origin      142896
Cards by origin          142896
Txs by origin            144525
Avg. amount by origin    144525
Age                      142896
Merchants by age         116556
Cards by age             116556
Txs by age               142896
Avg. amount by age       142896
Gender                   116556
Merchants by gender       85931
Cards by gender           85931
Txs by gender            116556
Avg. amount by gender    116556
dtype: int64

In [31]:
origin_distribution_df.dropna(how='any', inplace=True)

In [32]:
origin_distribution_df.count()

Latitude                 85931
Longitude                85931
Date                     85931
Source                   85931
Channel                  85931
Merchants                85931
Cards                    85931
Txs                      85931
Avg. amount              85931
Origin type              85931
Origin                   85931
Merchants by origin      85931
Cards by origin          85931
Txs by origin            85931
Avg. amount by origin    85931
Age                      85931
Merchants by age         85931
Cards by age             85931
Txs by age               85931
Avg. amount by age       85931
Gender                   85931
Merchants by gender      85931
Cards by gender          85931
Txs by gender            85931
Avg. amount by gender    85931
dtype: int64

In [33]:
origin_distribution_df['Latitude'] = [x.replace(',','.') for x in origin_distribution_df["Latitude"]]
origin_distribution_df['Longitude'] = [x.replace(',','.') for x in origin_distribution_df["Longitude"]]
origin_distribution_df['Avg. amount'] = [ str(x).replace(',','.') for x in origin_distribution_df["Avg. amount"]]
origin_distribution_df['Avg. amount by origin'] = [ str(x).replace(',','.') for x in origin_distribution_df["Avg. amount by origin"]]
origin_distribution_df['Avg. amount by age'] = [ str(x).replace(',','.') for x in origin_distribution_df["Avg. amount by age"]]
origin_distribution_df['Avg. amount by gender'] = [ str(x).replace(',','.') for x in origin_distribution_df["Avg. amount by gender"]]

In [34]:
origin_distribution_df.head()

   Latitude Longitude     Date Source Channel  Merchants  Cards    Txs Avg. amount Origin type Origin  Merchants by origin  Cards by origin  Txs by origin Avg. amount by origin Age  Merchants by age  Cards by age  Txs by age Avg. amount by age Gender  Merchants by gender  Cards by gender  Txs by gender Avg. amount by gender
9     40.33     -3.69  2015-10   bbva     pos        8.0  620.0  760.0     9.45928  subregions     08                  4.0             12.0           13.0               8.95692   3               3.0           3.0         4.0             9.9975      M                  3.0              3.0            4.0                9.9975
10    40.33     -3.69  2015-10   bbva     pos        8.0  620.0  760.0     9.45928  subregions     48                  5.0             16.0           17.0               8.42118   2               3.0           7.0         7.0            7.47429      M                  3.0              6.0            6.0                 7.005
21    40.33     -3.69  2015-10   bbva     pos        8.0  620.0  760.0     9.45928  subregions     46                  4.0             12.0           13.0              24.16385   3               3.0           7.0         7.0           10.32429      M                  3.0              6.0            6.0              10.29667
22    40.33     -3.69  2015-10   bbva     pos        8.0  620.0  760.0     9.45928  subregions     46                  4.0             12.0           13.0              24.16385   2               3.0           3.0         4.0              17.15      M                  3.0              3.0            4.0                 17.15
23    40.33     -3.69  2015-10   bbva     pos        8.0  620.0  760.0     9.45928  subregions      U                  5.0             39.0           48.0              12.34146   U               5.0          34.0        43.0           12.70047      U                  5.0             34.0           43.0              12.70047

In [51]:
origin_distribution_df.rename(columns={'Avg. amount':'Avg_amount',              
'Origin type':'Origin_type',              
'Merchants by origin':'Merchants_by_origin',      
'Cards by origin':'Cards_by_origin',           
'Txs by origin':'Txs_by_origin',           
'Avg. amount by origin':'Avg_amount_by_origin',    
'Merchants by age':'Merchants_by_age',         
'Cards by age':'Cards_by_age',             
'Txs by age':'Txs_by_age',               
'Avg. amount by age':'Avg_amount_by_age',       
'Merchants by gender':'Merchants_by_gender',      
'Cards by gender':'Cards_by_gender',          
'Txs by gender':'Txs_by_gender',            
'Avg. amount by gender':'Avg_amount_by_gender'}, 
                 inplace=True)

In [52]:
origin_distribution_df.head()

   Latitude Longitude     Date Source Channel  Merchants  Cards    Txs Avg_amount Origin_type Origin  Merchants_by_origin  Cards_by_origin  Txs_by_origin Avg_amount_by_origin Age  Merchants_by_age  Cards_by_age  Txs_by_age Avg_amount_by_age Gender  Merchants_by_gender  Cards_by_gender  Txs_by_gender Avg_amount_by_gender
9     40.33     -3.69  2015-10   bbva     pos        8.0  620.0  760.0    9.45928  subregions     08                  4.0             12.0           13.0              8.95692   3               3.0           3.0         4.0            9.9975      M                  3.0              3.0            4.0               9.9975
10    40.33     -3.69  2015-10   bbva     pos        8.0  620.0  760.0    9.45928  subregions     48                  5.0             16.0           17.0              8.42118   2               3.0           7.0         7.0           7.47429      M                  3.0              6.0            6.0                7.005
21    40.33     -3.69  2015-10   bbva     pos        8.0  620.0  760.0    9.45928  subregions     46                  4.0             12.0           13.0             24.16385   3               3.0           7.0         7.0          10.32429      M                  3.0              6.0            6.0             10.29667
22    40.33     -3.69  2015-10   bbva     pos        8.0  620.0  760.0    9.45928  subregions     46                  4.0             12.0           13.0             24.16385   2               3.0           3.0         4.0             17.15      M                  3.0              3.0            4.0                17.15
23    40.33     -3.69  2015-10   bbva     pos        8.0  620.0  760.0    9.45928  subregions      U                  5.0             39.0           48.0             12.34146   U               5.0          34.0        43.0          12.70047      U                  5.0             34.0           43.0             12.70047

In [35]:
#consumption_pattern_df = consumption_pattern_df.drop(columns='Date')
consumption_pattern_df = consumption_pattern_df.drop(columns='Channel')
#data = data.drop(columns="area")

In [36]:
#Export this file to a spread to be able to use it for the Analysis exercise (without the index)
#origin_distribution_df2.to_csv("output/origin_distribution.csv", index=False)

In [37]:
Base = declarative_base()

class OriginDistribution(Base):
   __tablename__ = 'OriginDistribution'
   id = Column(Integer, primary_key=True)
   Latitude = Column(Float)
   Longitude = Column(Float)
   Source = Column(String)
   Merchants = Column(Float)
   Cards = Column(Float)
   Txs = Column(Float)
   Avg_amount = Column(Float)
   Category_level = Column(String)
   Category = Column(String)
   Merchants_by_category = Column(Float)
   Cards_by_category = Column(Float)
   Txs_by_category = Column(Float)
   Avg_amount_by_category = Column(Float)

In [38]:
S1 = OriginDistribution(Latitude = 23.23)

In [101]:
pymysql.install_as_MySQLdb()

#engine = create_engine("mysql://root:G$m07129@localhost/B_Project02")
engine = create_engine("mysql://root:"+mysql_pass+"@localhost/B_Project02")
conn = engine.connect()

#origin_distribution_df2.to_sql('OriginDistribution', con=engine, if_exists='replace')
#engine.execute("SELECT * FROM OriginDistribution").fetchall()

In [40]:
#from sqlalchemy.orm import Session
#session = Session(bind=engine)

In [41]:
#session.add(S1)
#session.commit()

In [49]:
def write_db(data, table_name):
    """write DataFrame to sqlite database

    :type data: pandas.DataFrame
    :type table_name: str
    :type db_name: str
    :return: None
    """
    maximum_rows = 50000
    loop = divmod(data.shape[0], maximum_rows)[0]
    #engine = create_engine("sqlite:///{}.db".format(db_name))
    for i in range(loop):
        data_part = data.iloc[i*maximum_rows:(i+1)*maximum_rows, :]
        data_part.to_sql(table_name, con=engine, index=False,
                         index_label="entity_name", if_exists="append")
    data_left = data.iloc[loop*maximum_rows:, :]
    data_left.to_sql(table_name, con=engine, index=False,
                     index_label="entity_name", if_exists="append")

In [53]:
origin_distribution_df.to_sql('origin_distribution', con=engine, if_exists='replace')

In [44]:
#consumption_pattern_df2.to_sql('consumerpattern', con=engine, if_exists='replace')

In [45]:
#write_db(origin_distribution_df, 'origin_distribution')

In [56]:
write_db(consumption_pattern_df, 'consumption_pattern')

In [ ]:
https://maps.googleapis.com/maps/api/geocode/json?latlng=40.41,-3.67&key=AIzaSyB13mIlOWgJF_nxuygkRAVG10V1OrS7L-M

In [61]:
import requests
import json
from pprint import pprint

response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?latlng=40.41,-3.67&key=AIzaSyB13mIlOWgJF_nxuygkRAVG10V1OrS7L-M')
print(response.url)

https://maps.googleapis.com/maps/api/geocode/json?latlng=40.41,-3.67&key=AIzaSyB13mIlOWgJF_nxuygkRAVG10V1OrS7L-M

In [62]:
data = response.json()
pprint(data)

{'plus_code': {'compound_code': 'C85J+X2 Madrid, Spain',
               'global_code': '8CGRC85J+X2'},
 'results': [{'address_components': [{'long_name': '102',
                                      'short_name': '102',
                                      'types': ['street_number']},
                                     {'long_name': 'Calle del Doctor Esquerdo',
                                      'short_name': 'Calle del Dr. Esquerdo',
                                      'types': ['route']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'Madrid',
                                      'types': ['locality', 'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'M',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Comunidad de Madrid',
                                      'short_name': 'Comunidad de Madrid',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Spain',
                                      'short_name': 'ES',
                                      'types': ['country', 'political']},
                                     {'long_name': '28007',
                                      'short_name': '28007',
                                      'types': ['postal_code']}],
              'formatted_address': 'Calle del Dr. Esquerdo, 102, 28007 Madrid, '
                                   'Spain',
              'geometry': {'location': {'lat': 40.4101394, 'lng': -3.670151},
                           'location_type': 'ROOFTOP',
                           'viewport': {'northeast': {'lat': 40.4114883802915,
                                                      'lng': -3.668802019708497},
                                        'southwest': {'lat': 40.4087904197085,
                                                      'lng': -3.671499980291502}}},
              'place_id': 'ChIJuQg_CwMmQg0RneQiprcJSBM',
              'plus_code': {'compound_code': 'C86H+3W Madrid, Spain',
                            'global_code': '8CGRC86H+3W'},
              'types': ['street_address']},
             {'address_components': [{'long_name': '153',
                                      'short_name': '153',
                                      'types': ['street_number']},
                                     {'long_name': 'Calle de Arias Montano',
                                      'short_name': 'Calle de Arias Montano',
                                      'types': ['route']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'Madrid',
                                      'types': ['locality', 'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'M',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Comunidad de Madrid',
                                      'short_name': 'Comunidad de Madrid',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Spain',
                                      'short_name': 'ES',
                                      'types': ['country', 'political']},
                                     {'long_name': '28007',
                                      'short_name': '28007',
                                      'types': ['postal_code']}],
              'formatted_address': 'Calle de Arias Montano, 153, 28007 Madrid, '
                                   'Spain',
              'geometry': {'location': {'lat': 40.40976029999999,
                                        'lng': -3.669847399999999},
                           'location_type': 'RANGE_INTERPOLATED',
                           'viewport': {'northeast': {'lat': 40.4111092802915,
                                                      'lng': -3.668498419708497},
                                        'southwest': {'lat': 40.4084113197085,
                                                      'lng': -3.671196380291502}}},
              'place_id': 'EjBDYWxsZSBkZSBBcmlhcyBNb250YW5vLCAxNTMsIDI4MDA3IE1hZHJpZCwgU3BhaW4iGxIZChQKEgmjXxKaAyZCDRHQAECYPaVEaBCZAQ',
              'types': ['street_address']},
             {'address_components': [{'long_name': 'Calle del Doctor Esquerdo',
                                      'short_name': 'Calle del Dr. Esquerdo',
                                      'types': ['route']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'Madrid',
                                      'types': ['locality', 'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'M',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Comunidad de Madrid',
                                      'short_name': 'Comunidad de Madrid',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Spain',
                                      'short_name': 'ES',
                                      'types': ['country', 'political']},
                                     {'long_name': '28007',
                                      'short_name': '28007',
                                      'types': ['postal_code']}],
              'formatted_address': 'Calle del Dr. Esquerdo, 28007 Madrid, '
                                   'Spain',
              'geometry': {'bounds': {'northeast': {'lat': 40.4106251,
                                                    'lng': -3.669964099999999},
                                      'southwest': {'lat': 40.4098248,
                                                    'lng': -3.6700383}},
                           'location': {'lat': 40.410225, 'lng': -3.6700012},
                           'location_type': 'GEOMETRIC_CENTER',
                           'viewport': {'northeast': {'lat': 40.4115739302915,
                                                      'lng': -3.668652219708497},
                                        'southwest': {'lat': 40.4088759697085,
                                                      'lng': -3.671350180291502}}},
              'place_id': 'ChIJX1eRCgMmQg0RarzjjoIm6-M',
              'types': ['route']},
             {'address_components': [{'long_name': 'Niño Jesús',
                                      'short_name': 'Niño Jesús',
                                      'types': ['neighborhood', 'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'Madrid',
                                      'types': ['locality', 'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'M',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Comunidad de Madrid',
                                      'short_name': 'Comunidad de Madrid',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Spain',
                                      'short_name': 'ES',
                                      'types': ['country', 'political']}],
              'formatted_address': 'Niño Jesús, Madrid, Spain',
              'geometry': {'bounds': {'northeast': {'lat': 40.4166789,
                                                    'lng': -3.669286999999999},
                                      'southwest': {'lat': 40.406666,
                                                    'lng': -3.6787478}},
                           'location': {'lat': 40.4101609, 'lng': -3.6767163},
                           'location_type': 'APPROXIMATE',
                           'viewport': {'northeast': {'lat': 40.4166789,
                                                      'lng': -3.669286999999999},
                                        'southwest': {'lat': 40.406666,
                                                      'lng': -3.6787478}}},
              'place_id': 'ChIJy0RmGR0mQg0R5uG3qBYCGwc',
              'types': ['neighborhood', 'political']},
             {'address_components': [{'long_name': '28007',
                                      'short_name': '28007',
                                      'types': ['postal_code']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'Madrid',
                                      'types': ['locality', 'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'M',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Community of Madrid',
                                      'short_name': 'Community of Madrid',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Spain',
                                      'short_name': 'ES',
                                      'types': ['country', 'political']}],
              'formatted_address': '28007 Madrid, Spain',
              'geometry': {'bounds': {'northeast': {'lat': 40.4214625,
                                                    'lng': -3.6587084},
                                      'southwest': {'lat': 40.3943211,
                                                    'lng': -3.6918253}},
                           'location': {'lat': 40.4063013, 'lng': -3.6699295},
                           'location_type': 'APPROXIMATE',
                           'viewport': {'northeast': {'lat': 40.4214625,
                                                      'lng': -3.6587084},
                                        'southwest': {'lat': 40.3943211,
                                                      'lng': -3.6918253}}},
              'place_id': 'ChIJEcvQQxsmQg0RQNSLM_dAAxw',
              'types': ['postal_code']},
             {'address_components': [{'long_name': 'Retiro',
                                      'short_name': 'Retiro',
                                      'types': ['political',
                                                'sublocality',
                                                'sublocality_level_1']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'Madrid',
                                      'types': ['locality', 'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'M',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Community of Madrid',
                                      'short_name': 'Community of Madrid',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Spain',
                                      'short_name': 'ES',
                                      'types': ['country', 'political']}],
              'formatted_address': 'Retiro, Madrid, Spain',
              'geometry': {'bounds': {'northeast': {'lat': 40.421708,
                                                    'lng': -3.658618},
                                      'southwest': {'lat': 40.3943599,
                                                    'lng': -3.6935769}},
                           'location': {'lat': 40.4113349, 'lng': -3.6749081},
                           'location_type': 'APPROXIMATE',
                           'viewport': {'northeast': {'lat': 40.421708,
                                                      'lng': -3.658618},
                                        'southwest': {'lat': 40.3943599,
                                                      'lng': -3.6935769}}},
              'place_id': 'ChIJpekqRqAoQg0RdtyjNRaxELg',
              'types': ['political', 'sublocality', 'sublocality_level_1']},
             {'address_components': [{'long_name': 'Madrid',
                                      'short_name': 'Madrid',
                                      'types': ['locality', 'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'M',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Community of Madrid',
                                      'short_name': 'Community of Madrid',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Spain',
                                      'short_name': 'ES',
                                      'types': ['country', 'political']}],
              'formatted_address': 'Madrid, Spain',
              'geometry': {'bounds': {'northeast': {'lat': 40.5638447,
                                                    'lng': -3.5249115},
                                      'southwest': {'lat': 40.3120639,
                                                    'lng': -3.8341618}},
                           'location': {'lat': 40.4167754, 'lng': -3.7037902},
                           'location_type': 'APPROXIMATE',
                           'viewport': {'northeast': {'lat': 40.5638447,
                                                      'lng': -3.5249115},
                                        'southwest': {'lat': 40.3120639,
                                                      'lng': -3.8341618}}},
              'place_id': 'ChIJgTwKgJcpQg0RaSKMYcHeNsQ',
              'types': ['locality', 'political']},
             {'address_components': [{'long_name': 'Madrid',
                                      'short_name': 'Madrid',
                                      'types': ['administrative_area_level_4',
                                                'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'M',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Community of Madrid',
                                      'short_name': 'Community of Madrid',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Spain',
                                      'short_name': 'ES',
                                      'types': ['country', 'political']}],
              'formatted_address': 'Madrid, Spain',
              'geometry': {'bounds': {'northeast': {'lat': 40.64333269999999,
                                                    'lng': -3.5182349},
                                      'southwest': {'lat': 40.3120639,
                                                    'lng': -3.8889567}},
                           'location': {'lat': 40.4157569,
                                        'lng': -3.703721499999999},
                           'location_type': 'APPROXIMATE',
                           'viewport': {'northeast': {'lat': 40.64333269999999,
                                                      'lng': -3.5182349},
                                        'southwest': {'lat': 40.3120639,
                                                      'lng': -3.8889567}}},
              'place_id': 'ChIJyWY3OH0oQg0RfZlQ7cCcRq0',
              'types': ['administrative_area_level_4', 'political']},
             {'address_components': [{'long_name': 'Área Metropolitalitana y '
                                                   'Corredor del Henares',
                                      'short_name': 'Área Metropolitalitana y '
                                                    'Corredor del Henares',
                                      'types': ['administrative_area_level_3',
                                                'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'M',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Comunidad de Madrid',
                                      'short_name': 'Comunidad de Madrid',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Spain',
                                      'short_name': 'ES',
                                      'types': ['country', 'political']}],
              'formatted_address': 'Área Metropolitalitana y Corredor del '
                                   'Henares, Madrid, Spain',
              'geometry': {'bounds': {'northeast': {'lat': 40.6453875,
                                                    'lng': -3.2838978},
                                      'southwest': {'lat': 40.1989269,
                                                    'lng': -4.006454}},
                           'location': {'lat': 40.4955493, 'lng': -3.6623239},
                           'location_type': 'APPROXIMATE',
                           'viewport': {'northeast': {'lat': 40.6453875,
                                                      'lng': -3.2838978},
                                        'southwest': {'lat': 40.1989269,
                                                      'lng': -4.006454}}},
              'place_id': 'ChIJgXVwV1wvQg0RzPz8wabKb2k',
              'types': ['administrative_area_level_3', 'political']},
             {'address_components': [{'long_name': 'Community of Madrid',
                                      'short_name': 'Community of Madrid',
                                      'types': ['administrative_area_level_1',
                                                'political']},
                                     {'long_name': 'Madrid',
                                      'short_name': 'M',
                                      'types': ['administrative_area_level_2',
                                                'political']},
                                     {'long_name': 'Spain',
                                      'short_name': 'ES',

In [67]:
data.values

In [74]:
data['results'][0]

{'address_components': [{'long_name': '102',
   'short_name': '102',
   'types': ['street_number']},
  {'long_name': 'Calle del Doctor Esquerdo',
   'short_name': 'Calle del Dr. Esquerdo',
   'types': ['route']},
  {'long_name': 'Madrid',
   'short_name': 'Madrid',
   'types': ['locality', 'political']},
  {'long_name': 'Madrid',
   'short_name': 'M',
   'types': ['administrative_area_level_2', 'political']},
  {'long_name': 'Comunidad de Madrid',
   'short_name': 'Comunidad de Madrid',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': 'Spain',
   'short_name': 'ES',
   'types': ['country', 'political']},
  {'long_name': '28007', 'short_name': '28007', 'types': ['postal_code']}],
 'formatted_address': 'Calle del Dr. Esquerdo, 102, 28007 Madrid, Spain',
 'geometry': {'location': {'lat': 40.4101394, 'lng': -3.670151},
  'location_type': 'ROOFTOP',
  'viewport': {'northeast': {'lat': 40.4114883802915,
    'lng': -3.668802019708497},
   'southwest': {'lat': 40.4087904197085, 'lng': -3.671499980291502}}},
 'place_id': 'ChIJuQg_CwMmQg0RneQiprcJSBM',
 'plus_code': {'compound_code': 'C86H+3W Madrid, Spain',
  'global_code': '8CGRC86H+3W'},
 'types': ['street_address']}

In [76]:
results = []

In [77]:
results = data['results']

In [96]:
for idx, val in enumerate(results):
    address_components = val['address_components']
    for idx_ac, ac in enumerate(address_components):
        if ac['types'][0] == 'neighborhood':
            print(idx , ac['types'][0], ac['long_name'])

3 neighborhood Niño Jesús

In [99]:
data['results'][3]['address_components'][0]['long_name']

'Niño Jesús'

In [102]:
results = engine.execute("select distinct latitude, longitude from consumption_pattern  where Category in ('es_fastfood', 'es_restaurant', 'es_pub', 'es_cafe');").fetchall()
all_results = []

for result in results:
    result_dict = {}
    result_dict['Latitude'] = result[0]
    result_dict['Longitude'] = result[1]    
    all_results.append(result_dict)

In [103]:
all_results

[{'Latitude': '40.345', 'Longitude': '-3.675'},
 {'Latitude': '40.345', 'Longitude': '-3.705'},
 {'Latitude': '40.355', 'Longitude': '-3.685'},
 {'Latitude': '40.36', 'Longitude': '-3.695'},
 {'Latitude': '40.365', 'Longitude': '-3.595'},
 {'Latitude': '40.365', 'Longitude': '-3.74'},
 {'Latitude': '40.37', 'Longitude': '-3.6'},
 {'Latitude': '40.375', 'Longitude': '-3.62'},
 {'Latitude': '40.38', 'Longitude': '-3.625'},
 {'Latitude': '40.38', 'Longitude': '-3.77'},
 {'Latitude': '40.38', 'Longitude': '-3.78'},
 {'Latitude': '40.385', 'Longitude': '-3.61'},
 {'Latitude': '40.385', 'Longitude': '-3.64'},
 {'Latitude': '40.385', 'Longitude': '-3.65'},
 {'Latitude': '40.385', 'Longitude': '-3.665'},
 {'Latitude': '40.385', 'Longitude': '-3.67'},
 {'Latitude': '40.385', 'Longitude': '-3.695'},
 {'Latitude': '40.385', 'Longitude': '-3.7'},
 {'Latitude': '40.385', 'Longitude': '-3.705'},
 {'Latitude': '40.385', 'Longitude': '-3.71'},
 {'Latitude': '40.385', 'Longitude': '-3.72'},
 {'Latitude': '40.385', 'Longitude': '-3.735'},
 {'Latitude': '40.385', 'Longitude': '-3.74'},
 {'Latitude': '40.39', 'Longitude': '-3.69'},
 {'Latitude': '40.39', 'Longitude': '-3.695'},
 {'Latitude': '40.39', 'Longitude': '-3.7'},
 {'Latitude': '40.39', 'Longitude': '-3.705'},
 {'Latitude': '40.39', 'Longitude': '-3.72'},
 {'Latitude': '40.39', 'Longitude': '-3.725'},
 {'Latitude': '40.39', 'Longitude': '-3.73'},
 {'Latitude': '40.39', 'Longitude': '-3.74'},
 {'Latitude': '40.39', 'Longitude': '-3.745'},
 {'Latitude': '40.39', 'Longitude': '-3.76'},
 {'Latitude': '40.39', 'Longitude': '-3.765'},
 {'Latitude': '40.395', 'Longitude': '-3.66'},
 {'Latitude': '40.395', 'Longitude': '-3.665'},
 {'Latitude': '40.395', 'Longitude': '-3.67'},
 {'Latitude': '40.395', 'Longitude': '-3.675'},
 {'Latitude': '40.395', 'Longitude': '-3.68'},
 {'Latitude': '40.395', 'Longitude': '-3.685'},
 {'Latitude': '40.395', 'Longitude': '-3.695'},
 {'Latitude': '40.395', 'Longitude': '-3.7'},
 {'Latitude': '40.395', 'Longitude': '-3.71'},
 {'Latitude': '40.395', 'Longitude': '-3.715'},
 {'Latitude': '40.395', 'Longitude': '-3.72'},
 {'Latitude': '40.395', 'Longitude': '-3.765'},
 {'Latitude': '40.4', 'Longitude': '-3.66'},
 {'Latitude': '40.4', 'Longitude': '-3.67'},
 {'Latitude': '40.4', 'Longitude': '-3.675'},
 {'Latitude': '40.4', 'Longitude': '-3.685'},
 {'Latitude': '40.4', 'Longitude': '-3.69'},
 {'Latitude': '40.4', 'Longitude': '-3.695'},
 {'Latitude': '40.4', 'Longitude': '-3.7'},
 {'Latitude': '40.4', 'Longitude': '-3.705'},
 {'Latitude': '40.4', 'Longitude': '-3.71'},
 {'Latitude': '40.4', 'Longitude': '-3.715'},
 {'Latitude': '40.405', 'Longitude': '-3.605'},
 {'Latitude': '40.405', 'Longitude': '-3.61'},
 {'Latitude': '40.405', 'Longitude': '-3.63'},
 {'Latitude': '40.405', 'Longitude': '-3.65'},
 {'Latitude': '40.405', 'Longitude': '-3.67'},
 {'Latitude': '40.405', 'Longitude': '-3.675'},
 {'Latitude': '40.405', 'Longitude': '-3.68'},
 {'Latitude': '40.405', 'Longitude': '-3.685'},
 {'Latitude': '40.405', 'Longitude': '-3.69'},
 {'Latitude': '40.405', 'Longitude': '-3.695'},
 {'Latitude': '40.405', 'Longitude': '-3.7'},
 {'Latitude': '40.405', 'Longitude': '-3.705'},
 {'Latitude': '40.405', 'Longitude': '-3.71'},
 {'Latitude': '40.405', 'Longitude': '-3.715'},
 {'Latitude': '40.405', 'Longitude': '-3.745'},
 {'Latitude': '40.41', 'Longitude': '-3.67'},
 {'Latitude': '40.41', 'Longitude': '-3.675'},
 {'Latitude': '40.41', 'Longitude': '-3.695'},
 {'Latitude': '40.41', 'Longitude': '-3.7'},
 {'Latitude': '40.41', 'Longitude': '-3.705'},
 {'Latitude': '40.41', 'Longitude': '-3.71'},
 {'Latitude': '40.41', 'Longitude': '-3.715'},
 {'Latitude': '40.41', 'Longitude': '-3.72'},
 {'Latitude': '40.415', 'Longitude': '-3.67'},
 {'Latitude': '40.415', 'Longitude': '-3.675'},
 {'Latitude': '40.415', 'Longitude': '-3.69'},
 {'Latitude': '40.415', 'Longitude': '-3.695'},
 {'Latitude': '40.415', 'Longitude': '-3.7'},
 {'Latitude': '40.415', 'Longitude': '-3.705'},
 {'Latitude': '40.415', 'Longitude': '-3.71'},
 {'Latitude': '40.415', 'Longitude': '-3.715'},
 {'Latitude': '40.415', 'Longitude': '-3.725'},
 {'Latitude': '40.415', 'Longitude': '-3.73'},
 {'Latitude': '40.42', 'Longitude': '-3.615'},
 {'Latitude': '40.42', 'Longitude': '-3.67'},
 {'Latitude': '40.42', 'Longitude': '-3.675'},
 {'Latitude': '40.42', 'Longitude': '-3.68'},
 {'Latitude': '40.42', 'Longitude': '-3.685'},
 {'Latitude': '40.42', 'Longitude': '-3.69'},
 {'Latitude': '40.42', 'Longitude': '-3.695'},
 {'Latitude': '40.42', 'Longitude': '-3.7'},
 {'Latitude': '40.42', 'Longitude': '-3.705'},
 {'Latitude': '40.42', 'Longitude': '-3.71'},
 {'Latitude': '40.425', 'Longitude': '-3.605'},
 {'Latitude': '40.425', 'Longitude': '-3.62'},
 {'Latitude': '40.425', 'Longitude': '-3.64'},
 {'Latitude': '40.425', 'Longitude': '-3.655'},
 {'Latitude': '40.425', 'Longitude': '-3.665'},
 {'Latitude': '40.425', 'Longitude': '-3.67'},
 {'Latitude': '40.425', 'Longitude': '-3.675'},
 {'Latitude': '40.425', 'Longitude': '-3.68'},
 {'Latitude': '40.425', 'Longitude': '-3.685'},
 {'Latitude': '40.425', 'Longitude': '-3.69'},
 {'Latitude': '40.425', 'Longitude': '-3.695'},
 {'Latitude': '40.425', 'Longitude': '-3.7'},
 {'Latitude': '40.425', 'Longitude': '-3.705'},
 {'Latitude': '40.425', 'Longitude': '-3.71'},
 {'Latitude': '40.425', 'Longitude': '-3.715'},
 {'Latitude': '40.425', 'Longitude': '-3.72'},
 {'Latitude': '40.43', 'Longitude': '-3.605'},
 {'Latitude': '40.43', 'Longitude': '-3.625'},
 {'Latitude': '40.43', 'Longitude': '-3.63'},
 {'Latitude': '40.43', 'Longitude': '-3.64'},
 {'Latitude': '40.43', 'Longitude': '-3.645'},
 {'Latitude': '40.43', 'Longitude': '-3.66'},
 {'Latitude': '40.43', 'Longitude': '-3.665'},
 {'Latitude': '40.43', 'Longitude': '-3.67'},
 {'Latitude': '40.43', 'Longitude': '-3.675'},
 {'Latitude': '40.43', 'Longitude': '-3.68'},
 {'Latitude': '40.43', 'Longitude': '-3.685'},
 {'Latitude': '40.43', 'Longitude': '-3.69'},
 {'Latitude': '40.43', 'Longitude': '-3.695'},
 {'Latitude': '40.43', 'Longitude': '-3.7'},
 {'Latitude': '40.43', 'Longitude': '-3.705'},
 {'Latitude': '40.43', 'Longitude': '-3.71'},
 {'Latitude': '40.43', 'Longitude': '-3.715'},
 {'Latitude': '40.43', 'Longitude': '-3.72'},
 {'Latitude': '40.435', 'Longitude': '-3.61'},
 {'Latitude': '40.435', 'Longitude': '-3.625'},
 {'Latitude': '40.435', 'Longitude': '-3.63'},
 {'Latitude': '40.435', 'Longitude': '-3.635'},
 {'Latitude': '40.435', 'Longitude': '-3.64'},
 {'Latitude': '40.435', 'Longitude': '-3.645'},
 {'Latitude': '40.435', 'Longitude': '-3.65'},
 {'Latitude': '40.435', 'Longitude': '-3.655'},
 {'Latitude': '40.435', 'Longitude': '-3.66'},
 {'Latitude': '40.435', 'Longitude': '-3.665'},
 {'Latitude': '40.435', 'Longitude': '-3.67'},
 {'Latitude': '40.435', 'Longitude': '-3.675'},
 {'Latitude': '40.435', 'Longitude': '-3.68'},
 {'Latitude': '40.435', 'Longitude': '-3.685'},
 {'Latitude': '40.435', 'Longitude': '-3.69'},
 {'Latitude': '40.435', 'Longitude': '-3.695'},
 {'Latitude': '40.435', 'Longitude': '-3.7'},
 {'Latitude': '40.435', 'Longitude': '-3.705'},
 {'Latitude': '40.435', 'Longitude': '-3.71'},
 {'Latitude': '40.435', 'Longitude': '-3.715'},
 {'Latitude': '40.435', 'Longitude': '-3.72'},
 {'Latitude': '40.435', 'Longitude': '-3.735'},
 {'Latitude': '40.44', 'Longitude': '-3.62'},
 {'Latitude': '40.44', 'Longitude': '-3.625'},
 {'Latitude': '40.44', 'Longitude': '-3.63'},
 {'Latitude': '40.44', 'Longitude': '-3.635'},
 {'Latitude': '40.44', 'Longitude': '-3.64'},
 {'Latitude': '40.44', 'Longitude': '-3.645'},
 {'Latitude': '40.44', 'Longitude': '-3.65'},
 {'Latitude': '40.44', 'Longitude': '-3.655'},
 {'Latitude': '40.44', 'Longitude': '-3.67'},
 {'Latitude': '40.44', 'Longitude': '-3.675'},
 {'Latitude': '40.44', 'Longitude': '-3.68'},
 {'Latitude': '40.44', 'Longitude': '-3.69'},
 {'Latitude': '40.44', 'Longitude': '-3.695'},
 {'Latitude': '40.44', 'Longitude': '-3.7'},
 {'Latitude': '40.44', 'Longitude': '-3.71'},
 {'Latitude': '40.44', 'Longitude': '-3.715'},
 {'Latitude': '40.445', 'Longitude': '-3.59'},
 {'Latitude': '40.445', 'Longitude': '-3.61'},
 {'Latitude': '40.445', 'Longitude': '-3.65'},
 {'Latitude': '40.445', 'Longitude': '-3.655'},
 {'Latitude': '40.445', 'Longitude': '-3.665'},
 {'Latitude': '40.445', 'Longitude': '-3.67'},
 {'Latitude': '40.445', 'Longitude': '-3.675'},
 {'Latitude': '40.445', 'Longitude': '-3.68'},
 {'Latitude': '40.445', 'Longitude': '-3.695'},
 {'Latitude': '40.445', 'Longitude': '-3.7'},
 {'Latitude': '40.445', 'Longitude': '-3.705'},
 {'Latitude': '40.445', 'Longitude': '-3.71'},
 {'Latitude': '40.445', 'Longitude': '-3.715'},
 {'Latitude': '40.445', 'Longitude': '-3.785'},
 {'Latitude': '40.45', 'Longitude': '-3.57'},
 {'Latitude': '40.45', 'Longitude': '-3.58'},
 {'Latitude': '40.45', 'Longitude': '-3.585'},
 {'Latitude': '40.45', 'Longitude': '-3.59'},
 {'Latitude': '40.45', 'Longitude': '-3.65'},
 {'Latitude': '40.45', 'Longitude': '-3.655'},
 {'Latitude': '40.45', 'Longitude': '-3.66'},
 {'Latitude': '40.45', 'Longitude': '-3.665'},
 {'Latitude': '40.45', 'Longitude': '-3.67'},
 {'Latitude': '40.45', 'Longitude': '-3.675'},
 {'Latitude': '40.45', 'Longitude': '-3.68'},
 {'Latitude': '40.45', 'Longitude': '-3.685'},
 {'Latitude': '40.45', 'Longitude': '-3.69'},
 {'Latitude': '40.45', 'Longitude': '-3.695'},
 {'Latitude': '40.45', 'Longitude': '-3.7'},
 {'Latitude': '40.45', 'Longitude': '-3.705'},
 {'Latitude': '40.45', 'Longitude': '-3.71'},
 {'Latitude': '40.45', 'Longitude': '-3.715'},
 {'Latitude': '40.455', 'Longitude': '-3.585'},
 {'Latitude': '40.455', 'Longitude': '-3.66'},
 {'Latitude': '40.455', 'Longitude': '-3.665'},
 {'Latitude': '40.455', 'Longitude': '-3.675'},
 {'Latitude': '40.455', 'Longitude': '-3.68'},
 {'Latitude': '40.455', 'Longitude': '-3.685'},
 {'Latitude': '40.455', 'Longitude': '-3.69'},
 {'Latitude': '40.455', 'Longitude': '-3.695'},
 {'Latitude': '40.455', 'Longitude': '-3.7'},
 {'Latitude': '40.455', 'Longitude': '-3.705'},
 {'Latitude': '40.455', 'Longitude': '-3.71'},
 {'Latitude': '40.46', 'Longitude': '-3.66'},
 {'Latitude': '40.46', 'Longitude': '-3.675'},
 {'Latitude': '40.46', 'Longitude': '-3.68'},
 {'Latitude': '40.46', 'Longitude': '-3.685'},
 {'Latitude': '40.46', 'Longitude': '-3.69'},
 {'Latitude': '40.46', 'Longitude': '-3.695'},
 {'Latitude': '40.46', 'Longitude': '-3.7'},
 {'Latitude': '40.46', 'Longitude': '-3.785'},
 {'Latitude': '40.465', 'Longitude': '-3.625'},
 {'Latitude': '40.465', 'Longitude': '-3.635'},
 {'Latitude': '40.465', 'Longitude': '-3.64'},
 {'Latitude': '40.465', 'Longitude': '-3.685'},
 {'Latitude': '40.465', 'Longitude': '-3.69'},
 {'Latitude': '40.465', 'Longitude': '-3.695'},
 {'Latitude': '40.465', 'Longitude': '-3.7'},
 {'Latitude': '40.465', 'Longitude': '-3.785'},
 {'Latitude': '40.465', 'Longitude': '-3.79'},
 {'Latitude': '40.465', 'Longitude': '-3.795'},
 {'Latitude': '40.47', 'Longitude': '-3.645'},
 {'Latitude': '40.47', 'Longitude': '-3.65'},
 {'Latitude': '40.47', 'Longitude': '-3.68'},
 {'Latitude': '40.47', 'Longitude': '-3.685'},
 {'Latitude': '40.47', 'Longitude': '-3.69'},
 {'Latitude': '40.475', 'Longitude': '-3.58'},
 {'Latitude': '40.475', 'Longitude': '-3.63'},
 {'Latitude': '40.475', 'Longitude': '-3.635'},
 {'Latitude': '40.475', 'Longitude': '-3.64'},
 {'Latitude': '40.475', 'Longitude': '-3.67'},
 {'Latitude': '40.475', 'Longitude': '-3.705'},
 {'Latitude': '40.475', 'Longitude': '-3.72'},
 {'Latitude': '40.48', 'Longitude': '-3.67'},
 {'Latitude': '40.48', 'Longitude': '-3.675'},
 {'Latitude': '40.48', 'Longitude': '-3.7'},
 {'Latitude': '40.48', 'Longitude': '-3.71'},
 {'Latitude': '40.48', 'Longitude': '-3.72'},
 {'Latitude': '40.485', 'Longitude': '-3.665'},
 {'Latitude': '40.485', 'Longitude': '-3.7'},
 {'Latitude': '40.485', 'Longitude': '-3.705'},
 {'Latitude': '40.485', 'Longitude': '-3.72'},
 {'Latitude': '40.49', 'Longitude': '-3.65'},
 {'Latitude': '40.49', 'Longitude': '-3.665'},
 {'Latitude': '40.49', 'Longitude': '-3.685'},
 {'Latitude': '40.49', 'Longitude': '-3.69'},
 {'Latitude': '40.495', 'Longitude': '-3.655'},
 {'Latitude': '40.495', 'Longitude': '-3.69'},
 {'Latitude': '40.5', 'Longitude': '-3.675'},
 {'Latitude': '40.5', 'Longitude': '-3.705'},
 {'Latitude': '40.505', 'Longitude': '-3.665'},
 {'Latitude': '40.505', 'Longitude': '-3.67'},
 {'Latitude': '40.505', 'Longitude': '-3.675'},
 {'Latitude': '40.505', 'Longitude': '-3.695'},
 {'Latitude': '40.505', 'Longitude': '-3.705'},
 {'Latitude': '40.51', 'Longitude': '-3.67'},
 {'Latitude': '40.51', 'Longitude': '-3.675'},
 {'Latitude': '40.51', 'Longitude': '-3.68'},
 {'Latitude': '40.51', 'Longitude': '-3.69'},
 {'Latitude': '40.51', 'Longitude': '-3.695'},
 {'Latitude': '40.52', 'Longitude': '-3.775'}]

In [106]:
cities = []

In [112]:
for idx, val in enumerate(all_results):
    #print(val['Latitude'])
    response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?latlng='+val['Latitude']+','+val['Longitude']+'&key=AIzaSyB13mIlOWgJF_nxuygkRAVG10V1OrS7L-M')
    data = response.json()
    results = data['results']
    for idx, val2 in enumerate(results):
        address_components = val2['address_components']
        for idx_ac, ac in enumerate(address_components):
            if ac['types'][0] == 'neighborhood':
                print(idx , ac['types'][0], ac['long_name'])
                city = {}
                city = {
                    'neigborhood' : ac['long_name'],
                    'Lat'  : val['Latitude'],
                    'Longi' : val['Longitude']
                }
                cities.append(city)

4 neighborhood Butarque
3 neighborhood San Andrés
2 neighborhood Los Rosales
5 neighborhood Los Angeles
5 neighborhood Casco Histórico de Vallecas
5 neighborhood Buenavista
3 neighborhood Casco Histórico de Vallecas
4 neighborhood Casco Histórico de Vallecas
5 neighborhood Casco Histórico de Vallecas
3 neighborhood Las Aguilas
3 neighborhood Las Aguilas
2 neighborhood Santa Eugenia
6 neighborhood Palomeras Sureste
4 neighborhood Portazgo
3 neighborhood San Diego
4 neighborhood San Diego
5 neighborhood Almendrales
4 neighborhood Almendrales
3 neighborhood Almendrales
4 neighborhood Pradolongo
3 neighborhood Abrantes
4 neighborhood Puerta Bonita
5 neighborhood Vista Alegre
4 neighborhood Legazpi
5 neighborhood Legazpi
4 neighborhood Moscardó
3 neighborhood Moscardó
3 neighborhood Opañel
3 neighborhood Opañel
5 neighborhood San Isidro
3 neighborhood Vista Alegre
3 neighborhood Aluche
4 neighborhood Aluche
2 neighborhood Aluche
4 neighborhood Numancia
4 neighborhood San Diego
4 neighborhood San Diego
4 neighborhood Atocha
5 neighborhood Las Delicias
5 neighborhood Las Delicias
5 neighborhood Las Delicias
4 neighborhood La Chopera
4 neighborhood Comillas
3 neighborhood Comillas
4 neighborhood Opañel
3 neighborhood Aluche
4 neighborhood Numancia
4 neighborhood Adelfas
5 neighborhood Adelfas
4 neighborhood Atocha
5 neighborhood Las Delicias
2 neighborhood Las Delicias
4 neighborhood La Chopera
2 neighborhood Las Acacias
3 neighborhood Las Acacias
1 neighborhood Imperial
5 neighborhood Casco Histórico de Vicálvaro
5 neighborhood Ambroz
4 neighborhood Horcajo
4 neighborhood Fontarrón
3 neighborhood Adelfas
4 neighborhood Pacífico
4 neighborhood Pacífico
5 neighborhood Pacífico
4 neighborhood Atocha
5 neighborhood Palos de la Frontera
4 neighborhood Palos de la Frontera
3 neighborhood Las Acacias
3 neighborhood Las Acacias
5 neighborhood Imperial
5 neighborhood Lucero
3 neighborhood Niño Jesús
3 neighborhood Niño Jesús
3 neighborhood Lavapiés
3 neighborhood Lavapiés
2 neighborhood Lavapiés
3 neighborhood Barrio de La Latina
1 neighborhood Palacio
4 neighborhood Imperial
4 neighborhood Niño Jesús
4 neighborhood Niño Jesús
5 neighborhood Jerónimos
5 neighborhood Cortes
4 neighborhood Barrio de las Letras
4 neighborhood Sol
4 neighborhood Palacio
5 neighborhood Palacio
5 neighborhood Puerta del Angel
4 neighborhood Casa de Campo
4 neighborhood Arcos
4 neighborhood Ibiza
3 neighborhood Ibiza
1 neighborhood Jerónimos
2 neighborhood Jerónimos
4 neighborhood Recoletos
3 neighborhood Justicia
4 neighborhood Justicia
4 neighborhood Sol
4 neighborhood Palacio
3 neighborhood Rosas
3 neighborhood Arcos
4 neighborhood Pueblo Nuevo
4 neighborhood La Elipa
5 neighborhood Fuente del Berro
4 neighborhood Goya
6 neighborhood Goya
3 neighborhood Goya
4 neighborhood Recoletos
3 neighborhood Recoletos
3 neighborhood Justicia
4 neighborhood Justicia
4 neighborhood Malasaña
4 neighborhood Malasaña
4 neighborhood Argüelles
3 neighborhood Casa de Campo
4 neighborhood Rosas
5 neighborhood Simancas
4 neighborhood Simancas
4 neighborhood Pueblo Nuevo
5 neighborhood Pueblo Nuevo
3 neighborhood La Elipa
5 neighborhood La Guindalera
3 neighborhood La Guindalera
4 neighborhood Lista
4 neighborhood Castellana
3 neighborhood Castellana
3 neighborhood Almagro
4 neighborhood Almagro
3 neighborhood Trafalgar
5 neighborhood Trafalgar
5 neighborhood Malasaña
2 neighborhood Malasaña
3 neighborhood Argüelles
5 neighborhood Rosas
5 neighborhood Simancas
5 neighborhood Simancas
4 neighborhood Simancas
4 neighborhood Pueblo Nuevo
5 neighborhood Quintana
3 neighborhood Quintana
4 neighborhood Concepción
3 neighborhood La Guindalera
4 neighborhood La Guindalera
3 neighborhood La Guindalera
6 neighborhood Lista
5 neighborhood Castellana
4 neighborhood Castellana
5 neighborhood Almagro
5 neighborhood Almagro
5 neighborhood Trafalgar
4 neighborhood Arapiles
4 neighborhood Arapiles
2 neighborhood Gaztambide
4 neighborhood Casa de Campo
4 neighborhood Ciudad Universitaria
3 neighborhood Simancas
3 neighborhood Simancas
5 neighborhood Simancas
3 neighborhood El Salvador
4 neighborhood Quintana
5 neighborhood Concepción
4 neighborhood San Pascual
4 neighborhood San Pascual
3 neighborhood La Guindalera
3 neighborhood Prosperidad
4 neighborhood El Viso
4 neighborhood El Viso
3 neighborhood Ríos Rosas
4 neighborhood Ríos Rosas
3 neighborhood Vallehermoso
2 neighborhood Vallehermoso
4 neighborhood Rejas
4 neighborhood Canillejas
4 neighborhood San Pascual
6 neighborhood San Pascual
4 neighborhood Prosperidad
4 neighborhood Prosperidad
4 neighborhood Ciudad Jardín
3 neighborhood El Viso
4 neighborhood Ríos Rosas
3 neighborhood Ríos Rosas
4 neighborhood Vallehermoso
2 neighborhood Vallehermoso
4 neighborhood Vallehermoso
3 neighborhood Aravaca
5 neighborhood Aeropuerto
3 neighborhood Aeropuerto
3 neighborhood Aeropuerto
2 neighborhood Aeropuerto
4 neighborhood San Juan Bautista
4 neighborhood San Juan Bautista
3 neighborhood San Juan Bautista
5 neighborhood Prosperidad
3 neighborhood Ciudad Jardín
3 neighborhood Ciudad Jardín
4 neighborhood El Viso
4 neighborhood El Viso
4 neighborhood El Viso
4 neighborhood AZCA
5 neighborhood Cuatro Caminos
4 neighborhood Bellas Vistas
4 neighborhood Bellas Vistas
5 neighborhood Ciudad Universitaria
3 neighborhood Alameda de Osuna
4 neighborhood Colina
3 neighborhood Hispanoamérica
4 neighborhood Hispanoamérica
3 neighborhood Hispanoamérica
3 neighborhood Hispanoamérica
5 neighborhood Hispanoamérica
4 neighborhood Cuatro Caminos
4 neighborhood Cuatro Caminos
3 neighborhood Bellas Vistas
3 neighborhood Bellas Vistas
4 neighborhood Colina
5 neighborhood Nueva España
5 neighborhood Nueva España
3 neighborhood Nueva España
5 neighborhood Castillejos
2 neighborhood Castillejos
4 neighborhood Berruguete
3 neighborhood Aravaca
3 neighborhood Corralejos
4 neighborhood Canillas
2 neighborhood Canillas
4 neighborhood Nueva España
3 neighborhood Castillejos
4 neighborhood Valdeacederas
4 neighborhood Valdeacederas
5 neighborhood Valdemarín
4 neighborhood Valdemarín
1 neighborhood Valdemarín
4 neighborhood Pinar del Rey
4 neighborhood Pinar del Rey
4 neighborhood Castilla
3 neighborhood Castilla
4 neighborhood Almenara
5 neighborhood Casco Histórico de Barajas
4 neighborhood Valdefuentes
4 neighborhood Valdefuentes
5 neighborhood Pinar del Rey
5 neighborhood Costillares
2 neighborhood El Pilar
4 neighborhood Peñagrande
3 neighborhood Costillares
7 neighborhood Castilla
4 neighborhood La Paz
2 neighborhood El Pilar
4 neighborhood Peñagrande
5 neighborhood Sanchinarro
5 neighborhood La Paz
4 neighborhood La Paz
4 neighborhood Peñagrande
4 neighborhood Sanchinarro
4 neighborhood Sanchinarro
4 neighborhood Sanchinarro
4 neighborhood Las Tablas
3 neighborhood Mirasierra
2 neighborhood Las Tablas
3 neighborhood Las Tablas
4 neighborhood Las Tablas
4 neighborhood Montecarmelo
3 neighborhood Montecarmelo
4 neighborhood Las Tablas
4 neighborhood Las Tablas
4 neighborhood Las Tablas
5 neighborhood Montecarmelo
3 neighborhood Montecarmelo
3 neighborhood El Pardo

In [114]:
print(cities[0:15])

[{'neigborhood': 'Butarque'}, {'neigborhood': 'San Andrés'}, {'neigborhood': 'Los Rosales'}, {'neigborhood': 'Los Angeles'}, {'neigborhood': 'Casco Histórico de Vallecas'}, {'neigborhood': 'Buenavista'}, {'neigborhood': 'Casco Histórico de Vallecas'}, {'neigborhood': 'Casco Histórico de Vallecas'}, {'neigborhood': 'Casco Histórico de Vallecas'}, {'neigborhood': 'Las Aguilas'}, {'neigborhood': 'Las Aguilas'}, {'neigborhood': 'Santa Eugenia'}, {'neigborhood': 'Palomeras Sureste'}, {'neigborhood': 'Portazgo'}, {'neigborhood': 'San Diego'}]

In [117]:
print(cities[16:])

[{'neigborhood': 'Butarque', 'Lat': '40.345', 'Long': '-3.675'}, {'neigborhood': 'San Andrés', 'Lat': '40.345', 'Long': '-3.705'}, {'neigborhood': 'Los Rosales', 'Lat': '40.355', 'Long': '-3.685'}, {'neigborhood': 'Los Angeles', 'Lat': '40.36', 'Long': '-3.695'}, {'neigborhood': 'Casco Histórico de Vallecas', 'Lat': '40.365', 'Long': '-3.595'}, {'neigborhood': 'Buenavista', 'Lat': '40.365', 'Long': '-3.74'}, {'neigborhood': 'Casco Histórico de Vallecas', 'Lat': '40.37', 'Long': '-3.6'}, {'neigborhood': 'Casco Histórico de Vallecas', 'Lat': '40.375', 'Long': '-3.62'}, {'neigborhood': 'Casco Histórico de Vallecas', 'Lat': '40.38', 'Long': '-3.625'}, {'neigborhood': 'Las Aguilas', 'Lat': '40.38', 'Long': '-3.77'}, {'neigborhood': 'Las Aguilas', 'Lat': '40.38', 'Long': '-3.78'}, {'neigborhood': 'Santa Eugenia', 'Lat': '40.385', 'Long': '-3.61'}, {'neigborhood': 'Palomeras Sureste', 'Lat': '40.385', 'Long': '-3.64'}, {'neigborhood': 'Portazgo', 'Lat': '40.385', 'Long': '-3.65'}, {'neigborhood': 'San Diego', 'Lat': '40.385', 'Long': '-3.665'}, {'neigborhood': 'San Diego', 'Lat': '40.385', 'Long': '-3.67'}, {'neigborhood': 'Almendrales', 'Lat': '40.385', 'Long': '-3.695'}, {'neigborhood': 'Almendrales', 'Lat': '40.385', 'Long': '-3.7'}, {'neigborhood': 'Almendrales', 'Lat': '40.385', 'Long': '-3.705'}, {'neigborhood': 'Pradolongo', 'Lat': '40.385', 'Long': '-3.71'}, {'neigborhood': 'Abrantes', 'Lat': '40.385', 'Long': '-3.72'}, {'neigborhood': 'Puerta Bonita', 'Lat': '40.385', 'Long': '-3.735'}, {'neigborhood': 'Vista Alegre', 'Lat': '40.385', 'Long': '-3.74'}, {'neigborhood': 'Legazpi', 'Lat': '40.39', 'Long': '-3.69'}, {'neigborhood': 'Legazpi', 'Lat': '40.39', 'Long': '-3.695'}, {'neigborhood': 'Moscardó', 'Lat': '40.39', 'Long': '-3.7'}, {'neigborhood': 'Moscardó', 'Lat': '40.39', 'Long': '-3.705'}, {'neigborhood': 'Opañel', 'Lat': '40.39', 'Long': '-3.72'}, {'neigborhood': 'Opañel', 'Lat': '40.39', 'Long': '-3.725'}, {'neigborhood': 'San Isidro', 'Lat': '40.39', 'Long': '-3.73'}, {'neigborhood': 'Vista Alegre', 'Lat': '40.39', 'Long': '-3.74'}, {'neigborhood': 'Aluche', 'Lat': '40.39', 'Long': '-3.745'}, {'neigborhood': 'Aluche', 'Lat': '40.39', 'Long': '-3.76'}, {'neigborhood': 'Aluche', 'Lat': '40.39', 'Long': '-3.765'}, {'neigborhood': 'Numancia', 'Lat': '40.395', 'Long': '-3.66'}, {'neigborhood': 'San Diego', 'Lat': '40.395', 'Long': '-3.665'}, {'neigborhood': 'San Diego', 'Lat': '40.395', 'Long': '-3.67'}, {'neigborhood': 'Atocha', 'Lat': '40.395', 'Long': '-3.675'}, {'neigborhood': 'Las Delicias', 'Lat': '40.395', 'Long': '-3.68'}, {'neigborhood': 'Las Delicias', 'Lat': '40.395', 'Long': '-3.685'}, {'neigborhood': 'Las Delicias', 'Lat': '40.395', 'Long': '-3.695'}, {'neigborhood': 'La Chopera', 'Lat': '40.395', 'Long': '-3.7'}, {'neigborhood': 'Comillas', 'Lat': '40.395', 'Long': '-3.71'}, {'neigborhood': 'Comillas', 'Lat': '40.395', 'Long': '-3.715'}, {'neigborhood': 'Opañel', 'Lat': '40.395', 'Long': '-3.72'}, {'neigborhood': 'Aluche', 'Lat': '40.395', 'Long': '-3.765'}, {'neigborhood': 'Numancia', 'Lat': '40.4', 'Long': '-3.66'}, {'neigborhood': 'Adelfas', 'Lat': '40.4', 'Long': '-3.67'}, {'neigborhood': 'Adelfas', 'Lat': '40.4', 'Long': '-3.675'}, {'neigborhood': 'Atocha', 'Lat': '40.4', 'Long': '-3.685'}, {'neigborhood': 'Las Delicias', 'Lat': '40.4', 'Long': '-3.69'}, {'neigborhood': 'Las Delicias', 'Lat': '40.4', 'Long': '-3.695'}, {'neigborhood': 'La Chopera', 'Lat': '40.4', 'Long': '-3.7'}, {'neigborhood': 'Las Acacias', 'Lat': '40.4', 'Long': '-3.705'}, {'neigborhood': 'Las Acacias', 'Lat': '40.4', 'Long': '-3.71'}, {'neigborhood': 'Imperial', 'Lat': '40.4', 'Long': '-3.715'}, {'neigborhood': 'Casco Histórico de Vicálvaro', 'Lat': '40.405', 'Long': '-3.605'}, {'neigborhood': 'Ambroz', 'Lat': '40.405', 'Long': '-3.61'}, {'neigborhood': 'Horcajo', 'Lat': '40.405', 'Long': '-3.63'}, {'neigborhood': 'Fontarrón', 'Lat': '40.405', 'Long': '-3.65'}, {'neigborhood': 'Adelfas', 'Lat': '40.405', 'Long': '-3.67'}, {'neigborhood': 'Pacífico', 'Lat': '40.405', 'Long': '-3.675'}, {'neigborhood': 'Pacífico', 'Lat': '40.405', 'Long': '-3.68'}, {'neigborhood': 'Pacífico', 'Lat': '40.405', 'Long': '-3.685'}, {'neigborhood': 'Atocha', 'Lat': '40.405', 'Long': '-3.69'}, {'neigborhood': 'Palos de la Frontera', 'Lat': '40.405', 'Long': '-3.695'}, {'neigborhood': 'Palos de la Frontera', 'Lat': '40.405', 'Long': '-3.7'}, {'neigborhood': 'Las Acacias', 'Lat': '40.405', 'Long': '-3.705'}, {'neigborhood': 'Las Acacias', 'Lat': '40.405', 'Long': '-3.71'}, {'neigborhood': 'Imperial', 'Lat': '40.405', 'Long': '-3.715'}, {'neigborhood': 'Lucero', 'Lat': '40.405', 'Long': '-3.745'}, {'neigborhood': 'Niño Jesús', 'Lat': '40.41', 'Long': '-3.67'}, {'neigborhood': 'Niño Jesús', 'Lat': '40.41', 'Long': '-3.675'}, {'neigborhood': 'Lavapiés', 'Lat': '40.41', 'Long': '-3.695'}, {'neigborhood': 'Lavapiés', 'Lat': '40.41', 'Long': '-3.7'}, {'neigborhood': 'Lavapiés', 'Lat': '40.41', 'Long': '-3.705'}, {'neigborhood': 'Barrio de La Latina', 'Lat': '40.41', 'Long': '-3.71'}, {'neigborhood': 'Palacio', 'Lat': '40.41', 'Long': '-3.715'}, {'neigborhood': 'Imperial', 'Lat': '40.41', 'Long': '-3.72'}, {'neigborhood': 'Niño Jesús', 'Lat': '40.415', 'Long': '-3.67'}, {'neigborhood': 'Niño Jesús', 'Lat': '40.415', 'Long': '-3.675'}, {'neigborhood': 'Jerónimos', 'Lat': '40.415', 'Long': '-3.69'}, {'neigborhood': 'Cortes', 'Lat': '40.415', 'Long': '-3.695'}, {'neigborhood': 'Barrio de las Letras', 'Lat': '40.415', 'Long': '-3.7'}, {'neigborhood': 'Sol', 'Lat': '40.415', 'Long': '-3.705'}, {'neigborhood': 'Palacio', 'Lat': '40.415', 'Long': '-3.71'}, {'neigborhood': 'Palacio', 'Lat': '40.415', 'Long': '-3.715'}, {'neigborhood': 'Puerta del Angel', 'Lat': '40.415', 'Long': '-3.725'}, {'neigborhood': 'Casa de Campo', 'Lat': '40.415', 'Long': '-3.73'}, {'neigborhood': 'Arcos', 'Lat': '40.42', 'Long': '-3.615'}, {'neigborhood': 'Ibiza', 'Lat': '40.42', 'Long': '-3.67'}, {'neigborhood': 'Ibiza', 'Lat': '40.42', 'Long': '-3.675'}, {'neigborhood': 'Jerónimos', 'Lat': '40.42', 'Long': '-3.68'}, {'neigborhood': 'Jerónimos', 'Lat': '40.42', 'Long': '-3.685'}, {'neigborhood': 'Recoletos', 'Lat': '40.42', 'Long': '-3.69'}, {'neigborhood': 'Justicia', 'Lat': '40.42', 'Long': '-3.695'}, {'neigborhood': 'Justicia', 'Lat': '40.42', 'Long': '-3.7'}, {'neigborhood': 'Sol', 'Lat': '40.42', 'Long': '-3.705'}, {'neigborhood': 'Palacio', 'Lat': '40.42', 'Long': '-3.71'}, {'neigborhood': 'Rosas', 'Lat': '40.425', 'Long': '-3.605'}, {'neigborhood': 'Arcos', 'Lat': '40.425', 'Long': '-3.62'}, {'neigborhood': 'Pueblo Nuevo', 'Lat': '40.425', 'Long': '-3.64'}, {'neigborhood': 'La Elipa', 'Lat': '40.425', 'Long': '-3.655'}, {'neigborhood': 'Fuente del Berro', 'Lat': '40.425', 'Long': '-3.665'}, {'neigborhood': 'Goya', 'Lat': '40.425', 'Long': '-3.67'}, {'neigborhood': 'Goya', 'Lat': '40.425', 'Long': '-3.675'}, {'neigborhood': 'Goya', 'Lat': '40.425', 'Long': '-3.68'}, {'neigborhood': 'Recoletos', 'Lat': '40.425', 'Long': '-3.685'}, {'neigborhood': 'Recoletos', 'Lat': '40.425', 'Long': '-3.69'}, {'neigborhood': 'Justicia', 'Lat': '40.425', 'Long': '-3.695'}, {'neigborhood': 'Justicia', 'Lat': '40.425', 'Long': '-3.7'}, {'neigborhood': 'Malasaña', 'Lat': '40.425', 'Long': '-3.705'}, {'neigborhood': 'Malasaña', 'Lat': '40.425', 'Long': '-3.71'}, {'neigborhood': 'Argüelles', 'Lat': '40.425', 'Long': '-3.715'}, {'neigborhood': 'Casa de Campo', 'Lat': '40.425', 'Long': '-3.72'}, {'neigborhood': 'Rosas', 'Lat': '40.43', 'Long': '-3.605'}, {'neigborhood': 'Simancas', 'Lat': '40.43', 'Long': '-3.625'}, {'neigborhood': 'Simancas', 'Lat': '40.43', 'Long': '-3.63'}, {'neigborhood': 'Pueblo Nuevo', 'Lat': '40.43', 'Long': '-3.64'}, {'neigborhood': 'Pueblo Nuevo', 'Lat': '40.43', 'Long': '-3.645'}, {'neigborhood': 'La Elipa', 'Lat': '40.43', 'Long': '-3.66'}, {'neigborhood': 'La Guindalera', 'Lat': '40.43', 'Long': '-3.665'}, {'neigborhood': 'La Guindalera', 'Lat': '40.43', 'Long': '-3.67'}, {'neigborhood': 'Lista', 'Lat': '40.43', 'Long': '-3.675'}, {'neigborhood': 'Castellana', 'Lat': '40.43', 'Long': '-3.68'}, {'neigborhood': 'Castellana', 'Lat': '40.43', 'Long': '-3.685'}, {'neigborhood': 'Almagro', 'Lat': '40.43', 'Long': '-3.69'}, {'neigborhood': 'Almagro', 'Lat': '40.43', 'Long': '-3.695'}, {'neigborhood': 'Trafalgar', 'Lat': '40.43', 'Long': '-3.7'}, {'neigborhood': 'Trafalgar', 'Lat': '40.43', 'Long': '-3.705'}, {'neigborhood': 'Malasaña', 'Lat': '40.43', 'Long': '-3.71'}, {'neigborhood': 'Malasaña', 'Lat': '40.43', 'Long': '-3.715'}, {'neigborhood': 'Argüelles', 'Lat': '40.43', 'Long': '-3.72'}, {'neigborhood': 'Rosas', 'Lat': '40.435', 'Long': '-3.61'}, {'neigborhood': 'Simancas', 'Lat': '40.435', 'Long': '-3.625'}, {'neigborhood': 'Simancas', 'Lat': '40.435', 'Long': '-3.63'}, {'neigborhood': 'Simancas', 'Lat': '40.435', 'Long': '-3.635'}, {'neigborhood': 'Pueblo Nuevo', 'Lat': '40.435', 'Long': '-3.64'}, {'neigborhood': 'Quintana', 'Lat': '40.435', 'Long': '-3.645'}, {'neigborhood': 'Quintana', 'Lat': '40.435', 'Long': '-3.65'}, {'neigborhood': 'Concepción', 'Lat': '40.435', 'Long': '-3.655'}, {'neigborhood': 'La Guindalera', 'Lat': '40.435', 'Long': '-3.66'}, {'neigborhood': 'La Guindalera', 'Lat': '40.435', 'Long': '-3.665'}, {'neigborhood': 'La Guindalera', 'Lat': '40.435', 'Long': '-3.67'}, {'neigborhood': 'Lista', 'Lat': '40.435', 'Long': '-3.675'}, {'neigborhood': 'Castellana', 'Lat': '40.435', 'Long': '-3.68'}, {'neigborhood': 'Castellana', 'Lat': '40.435', 'Long': '-3.685'}, {'neigborhood': 'Almagro', 'Lat': '40.435', 'Long': '-3.69'}, {'neigborhood': 'Almagro', 'Lat': '40.435', 'Long': '-3.695'}, {'neigborhood': 'Trafalgar', 'Lat': '40.435', 'Long': '-3.7'}, {'neigborhood': 'Arapiles', 'Lat': '40.435', 'Long': '-3.705'}, {'neigborhood': 'Arapiles', 'Lat': '40.435', 'Long': '-3.71'}, {'neigborhood': 'Gaztambide', 'Lat': '40.435', 'Long': '-3.715'}, {'neigborhood': 'Casa de Campo', 'Lat': '40.435', 'Long': '-3.72'}, {'neigborhood': 'Ciudad Universitaria', 'Lat': '40.435', 'Long': '-3.735'}, {'neigborhood': 'Simancas', 'Lat': '40.44', 'Long': '-3.62'}, {'neigborhood': 'Simancas', 'Lat': '40.44', 'Long': '-3.625'}, {'neigborhood': 'Simancas', 'Lat': '40.44', 'Long': '-3.63'}, {'neigborhood': 'El Salvador', 'Lat': '40.44', 'Long': '-3.635'}, {'neigborhood': 'Quintana', 'Lat': '40.44', 'Long': '-3.64'}, {'neigborhood': 'Concepción', 'Lat': '40.44', 'Long': '-3.645'}, {'neigborhood': 'San Pascual', 'Lat': '40.44', 'Long': '-3.65'}, {'neigborhood': 'San Pascual', 'Lat': '40.44', 'Long': '-3.655'}, {'neigborhood': 'La Guindalera', 'Lat': '40.44', 'Long': '-3.67'}, {'neigborhood': 'Prosperidad', 'Lat': '40.44', 'Long': '-3.675'}, {'neigborhood': 'El Viso', 'Lat': '40.44', 'Long': '-3.68'}, {'neigborhood': 'El Viso', 'Lat': '40.44', 'Long': '-3.69'}, {'neigborhood': 'Ríos Rosas', 'Lat': '40.44', 'Long': '-3.695'}, {'neigborhood': 'Ríos Rosas', 'Lat': '40.44', 'Long': '-3.7'}, {'neigborhood': 'Vallehermoso', 'Lat': '40.44', 'Long': '-3.71'}, {'neigborhood': 'Vallehermoso', 'Lat': '40.44', 'Long': '-3.715'}, {'neigborhood': 'Rejas', 'Lat': '40.445', 'Long': '-3.59'}, {'neigborhood': 'Canillejas', 'Lat': '40.445', 'Long': '-3.61'}, {'neigborhood': 'San Pascual', 'Lat': '40.445', 'Long': '-3.65'}, {'neigborhood': 'San Pascual', 'Lat': '40.445', 'Long': '-3.655'}, {'neigborhood': 'Prosperidad', 'Lat': '40.445', 'Long': '-3.665'}, {'neigborhood': 'Prosperidad', 'Lat': '40.445', 'Long': '-3.67'}, {'neigborhood': 'Ciudad Jardín', 'Lat': '40.445', 'Long': '-3.675'}, {'neigborhood': 'El Viso', 'Lat': '40.445', 'Long': '-3.68'}, {'neigborhood': 'Ríos Rosas', 'Lat': '40.445', 'Long': '-3.695'}, {'neigborhood': 'Ríos Rosas', 'Lat': '40.445', 'Long': '-3.7'}, {'neigborhood': 'Vallehermoso', 'Lat': '40.445', 'Long': '-3.705'}, {'neigborhood': 'Vallehermoso', 'Lat': '40.445', 'Long': '-3.71'}, {'neigborhood': 'Vallehermoso', 'Lat': '40.445', 'Long': '-3.715'}, {'neigborhood': 'Aravaca', 'Lat': '40.445', 'Long': '-3.785'}, {'neigborhood': 'Aeropuerto', 'Lat': '40.45', 'Long': '-3.57'}, {'neigborhood': 'Aeropuerto', 'Lat': '40.45', 'Long': '-3.58'}, {'neigborhood': 'Aeropuerto', 'Lat': '40.45', 'Long': '-3.585'}, {'neigborhood': 'Aeropuerto', 'Lat': '40.45', 'Long': '-3.59'}, {'neigborhood': 'San Juan Bautista', 'Lat': '40.45', 'Long': '-3.65'}, {'neigborhood': 'San Juan Bautista', 'Lat': '40.45', 'Long': '-3.655'}, {'neigborhood': 'San Juan Bautista', 'Lat': '40.45', 'Long': '-3.66'}, {'neigborhood': 'Prosperidad', 'Lat': '40.45', 'Long': '-3.665'}, {'neigborhood': 'Ciudad Jardín', 'Lat': '40.45', 'Long': '-3.67'}, {'neigborhood': 'Ciudad Jardín', 'Lat': '40.45', 'Long': '-3.675'}, {'neigborhood': 'El Viso', 'Lat': '40.45', 'Long': '-3.68'}, {'neigborhood': 'El Viso', 'Lat': '40.45', 'Long': '-3.685'}, {'neigborhood': 'El Viso', 'Lat': '40.45', 'Long': '-3.69'}, {'neigborhood': 'AZCA', 'Lat': '40.45', 'Long': '-3.695'}, {'neigborhood': 'Cuatro Caminos', 'Lat': '40.45', 'Long': '-3.7'}, {'neigborhood': 'Bellas Vistas', 'Lat': '40.45', 'Long': '-3.705'}, {'neigborhood': 'Bellas Vistas', 'Lat': '40.45', 'Long': '-3.71'}, {'neigborhood': 'Ciudad Universitaria', 'Lat': '40.45', 'Long': '-3.715'}, {'neigborhood': 'Alameda de Osuna', 'Lat': '40.455', 'Long': '-3.585'}, {'neigborhood': 'Colina', 'Lat': '40.455', 'Long': '-3.66'}, {'neigborhood': 'Hispanoamérica', 'Lat': '40.455', 'Long': '-3.665'}, {'neigborhood': 'Hispanoamérica', 'Lat': '40.455', 'Long': '-3.675'}, {'neigborhood': 'Hispanoamérica', 'Lat': '40.455', 'Long': '-3.68'}, {'neigborhood': 'Hispanoamérica', 'Lat': '40.455', 'Long': '-3.685'}, {'neigborhood': 'Hispanoamérica', 'Lat': '40.455', 'Long': '-3.69'}, {'neigborhood': 'Cuatro Caminos', 'Lat': '40.455', 'Long': '-3.695'}, {'neigborhood': 'Cuatro Caminos', 'Lat': '40.455', 'Long': '-3.7'}, {'neigborhood': 'Bellas Vistas', 'Lat': '40.455', 'Long': '-3.705'}, {'neigborhood': 'Bellas Vistas', 'Lat': '40.455', 'Long': '-3.71'}, {'neigborhood': 'Colina', 'Lat': '40.46', 'Long': '-3.66'}, {'neigborhood': 'Nueva España', 'Lat': '40.46', 'Long': '-3.675'}, {'neigborhood': 'Nueva España', 'Lat': '40.46', 'Long': '-3.68'}, {'neigborhood': 'Nueva España', 'Lat': '40.46', 'Long': '-3.685'}, {'neigborhood': 'Castillejos', 'Lat': '40.46', 'Long': '-3.69'}, {'neigborhood': 'Castillejos', 'Lat': '40.46', 'Long': '-3.695'}, {'neigborhood': 'Berruguete', 'Lat': '40.46', 'Long': '-3.7'}, {'neigborhood': 'Aravaca', 'Lat': '40.46', 'Long': '-3.785'}, {'neigborhood': 'Corralejos', 'Lat': '40.465', 'Long': '-3.625'}, {'neigborhood': 'Canillas', 'Lat': '40.465', 'Long': '-3.635'}, {'neigborhood': 'Canillas', 'Lat': '40.465', 'Long': '-3.64'}, {'neigborhood': 'Nueva España', 'Lat': '40.465', 'Long': '-3.685'}, {'neigborhood': 'Castillejos', 'Lat': '40.465', 'Long': '-3.69'}, {'neigborhood': 'Valdeacederas', 'Lat': '40.465', 'Long': '-3.695'}, {'neigborhood': 'Valdeacederas', 'Lat': '40.465', 'Long': '-3.7'}, {'neigborhood': 'Valdemarín', 'Lat': '40.465', 'Long': '-3.785'}, {'neigborhood': 'Valdemarín', 'Lat': '40.465', 'Long': '-3.79'}, {'neigborhood': 'Valdemarín', 'Lat': '40.465', 'Long': '-3.795'}, {'neigborhood': 'Pinar del Rey', 'Lat': '40.47', 'Long': '-3.645'}, {'neigborhood': 'Pinar del Rey', 'Lat': '40.47', 'Long': '-3.65'}, {'neigborhood': 'Castilla', 'Lat': '40.47', 'Long': '-3.68'}, {'neigborhood': 'Castilla', 'Lat': '40.47', 'Long': '-3.685'}, {'neigborhood': 'Almenara', 'Lat': '40.47', 'Long': '-3.69'}, {'neigborhood': 'Casco Histórico de Barajas', 'Lat': '40.475', 'Long': '-3.58'}, {'neigborhood': 'Valdefuentes', 'Lat': '40.475', 'Long': '-3.63'}, {'neigborhood': 'Valdefuentes', 'Lat': '40.475', 'Long': '-3.635'}, {'neigborhood': 'Pinar del Rey', 'Lat': '40.475', 'Long': '-3.64'}, {'neigborhood': 'Costillares', 'Lat': '40.475', 'Long': '-3.67'}, {'neigborhood': 'El Pilar', 'Lat': '40.475', 'Long': '-3.705'}, {'neigborhood': 'Peñagrande', 'Lat': '40.475', 'Long': '-3.72'}, {'neigborhood': 'Costillares', 'Lat': '40.48', 'Long': '-3.67'}, {'neigborhood': 'Castilla', 'Lat': '40.48', 'Long': '-3.675'}, {'neigborhood': 'La Paz', 'Lat': '40.48', 'Long': '-3.7'}, {'neigborhood': 'El Pilar', 'Lat': '40.48', 'Long': '-3.71'}, {'neigborhood': 'Peñagrande', 'Lat': '40.48', 'Long': '-3.72'}, {'neigborhood': 'Sanchinarro', 'Lat': '40.485', 'Long': '-3.665'}, {'neigborhood': 'La Paz', 'Lat': '40.485', 'Long': '-3.7'}, {'neigborhood': 'La Paz', 'Lat': '40.485', 'Long': '-3.705'}, {'neigborhood': 'Peñagrande', 'Lat': '40.485', 'Long': '-3.72'}, {'neigborhood': 'Sanchinarro', 'Lat': '40.49', 'Long': '-3.65'}, {'neigborhood': 'Sanchinarro', 'Lat': '40.49', 'Long': '-3.665'}, {'neigborhood': 'Sanchinarro', 'Lat': '40.495', 'Long': '-3.655'}, {'neigborhood': 'Las Tablas', 'Lat': '40.5', 'Long': '-3.675'}, {'neigborhood': 'Mirasierra', 'Lat': '40.5', 'Long': '-3.705'}, {'neigborhood': 'Las Tablas', 'Lat': '40.505', 'Long': '-3.665'}, {'neigborhood': 'Las Tablas', 'Lat': '40.505', 'Long': '-3.67'}, {'neigborhood': 'Las Tablas', 'Lat': '40.505', 'Long': '-3.675'}, {'neigborhood': 'Montecarmelo', 'Lat': '40.505', 'Long': '-3.695'}, {'neigborhood': 'Montecarmelo', 'Lat': '40.505', 'Long': '-3.705'}, {'neigborhood': 'Las Tablas', 'Lat': '40.51', 'Long': '-3.67'}, {'neigborhood': 'Las Tablas', 'Lat': '40.51', 'Long': '-3.675'}, {'neigborhood': 'Las Tablas', 'Lat': '40.51', 'Long': '-3.68'}, {'neigborhood': 'Montecarmelo', 'Lat': '40.51', 'Long': '-3.69'}, {'neigborhood': 'Montecarmelo', 'Lat': '40.51', 'Long': '-3.695'}, {'neigborhood': 'El Pardo', 'Lat': '40.52', 'Long': '-3.775'}]

In [118]:
cities = cities[16:]

In [120]:
cities

[{'neigborhood': 'Butarque', 'Lat': '40.345', 'Long': '-3.675'},
 {'neigborhood': 'San Andrés', 'Lat': '40.345', 'Long': '-3.705'},
 {'neigborhood': 'Los Rosales', 'Lat': '40.355', 'Long': '-3.685'},
 {'neigborhood': 'Los Angeles', 'Lat': '40.36', 'Long': '-3.695'},
 {'neigborhood': 'Casco Histórico de Vallecas',
  'Lat': '40.365',
  'Long': '-3.595'},
 {'neigborhood': 'Buenavista', 'Lat': '40.365', 'Long': '-3.74'},
 {'neigborhood': 'Casco Histórico de Vallecas',
  'Lat': '40.37',
  'Long': '-3.6'},
 {'neigborhood': 'Casco Histórico de Vallecas',
  'Lat': '40.375',
  'Long': '-3.62'},
 {'neigborhood': 'Casco Histórico de Vallecas',
  'Lat': '40.38',
  'Long': '-3.625'},
 {'neigborhood': 'Las Aguilas', 'Lat': '40.38', 'Long': '-3.77'},
 {'neigborhood': 'Las Aguilas', 'Lat': '40.38', 'Long': '-3.78'},
 {'neigborhood': 'Santa Eugenia', 'Lat': '40.385', 'Long': '-3.61'},
 {'neigborhood': 'Palomeras Sureste', 'Lat': '40.385', 'Long': '-3.64'},
 {'neigborhood': 'Portazgo', 'Lat': '40.385', 'Long': '-3.65'},
 {'neigborhood': 'San Diego', 'Lat': '40.385', 'Long': '-3.665'},
 {'neigborhood': 'San Diego', 'Lat': '40.385', 'Long': '-3.67'},
 {'neigborhood': 'Almendrales', 'Lat': '40.385', 'Long': '-3.695'},
 {'neigborhood': 'Almendrales', 'Lat': '40.385', 'Long': '-3.7'},
 {'neigborhood': 'Almendrales', 'Lat': '40.385', 'Long': '-3.705'},
 {'neigborhood': 'Pradolongo', 'Lat': '40.385', 'Long': '-3.71'},
 {'neigborhood': 'Abrantes', 'Lat': '40.385', 'Long': '-3.72'},
 {'neigborhood': 'Puerta Bonita', 'Lat': '40.385', 'Long': '-3.735'},
 {'neigborhood': 'Vista Alegre', 'Lat': '40.385', 'Long': '-3.74'},
 {'neigborhood': 'Legazpi', 'Lat': '40.39', 'Long': '-3.69'},
 {'neigborhood': 'Legazpi', 'Lat': '40.39', 'Long': '-3.695'},
 {'neigborhood': 'Moscardó', 'Lat': '40.39', 'Long': '-3.7'},
 {'neigborhood': 'Moscardó', 'Lat': '40.39', 'Long': '-3.705'},
 {'neigborhood': 'Opañel', 'Lat': '40.39', 'Long': '-3.72'},
 {'neigborhood': 'Opañel', 'Lat': '40.39', 'Long': '-3.725'},
 {'neigborhood': 'San Isidro', 'Lat': '40.39', 'Long': '-3.73'},
 {'neigborhood': 'Vista Alegre', 'Lat': '40.39', 'Long': '-3.74'},
 {'neigborhood': 'Aluche', 'Lat': '40.39', 'Long': '-3.745'},
 {'neigborhood': 'Aluche', 'Lat': '40.39', 'Long': '-3.76'},
 {'neigborhood': 'Aluche', 'Lat': '40.39', 'Long': '-3.765'},
 {'neigborhood': 'Numancia', 'Lat': '40.395', 'Long': '-3.66'},
 {'neigborhood': 'San Diego', 'Lat': '40.395', 'Long': '-3.665'},
 {'neigborhood': 'San Diego', 'Lat': '40.395', 'Long': '-3.67'},
 {'neigborhood': 'Atocha', 'Lat': '40.395', 'Long': '-3.675'},
 {'neigborhood': 'Las Delicias', 'Lat': '40.395', 'Long': '-3.68'},
 {'neigborhood': 'Las Delicias', 'Lat': '40.395', 'Long': '-3.685'},
 {'neigborhood': 'Las Delicias', 'Lat': '40.395', 'Long': '-3.695'},
 {'neigborhood': 'La Chopera', 'Lat': '40.395', 'Long': '-3.7'},
 {'neigborhood': 'Comillas', 'Lat': '40.395', 'Long': '-3.71'},
 {'neigborhood': 'Comillas', 'Lat': '40.395', 'Long': '-3.715'},
 {'neigborhood': 'Opañel', 'Lat': '40.395', 'Long': '-3.72'},
 {'neigborhood': 'Aluche', 'Lat': '40.395', 'Long': '-3.765'},
 {'neigborhood': 'Numancia', 'Lat': '40.4', 'Long': '-3.66'},
 {'neigborhood': 'Adelfas', 'Lat': '40.4', 'Long': '-3.67'},
 {'neigborhood': 'Adelfas', 'Lat': '40.4', 'Long': '-3.675'},
 {'neigborhood': 'Atocha', 'Lat': '40.4', 'Long': '-3.685'},
 {'neigborhood': 'Las Delicias', 'Lat': '40.4', 'Long': '-3.69'},
 {'neigborhood': 'Las Delicias', 'Lat': '40.4', 'Long': '-3.695'},
 {'neigborhood': 'La Chopera', 'Lat': '40.4', 'Long': '-3.7'},
 {'neigborhood': 'Las Acacias', 'Lat': '40.4', 'Long': '-3.705'},
 {'neigborhood': 'Las Acacias', 'Lat': '40.4', 'Long': '-3.71'},
 {'neigborhood': 'Imperial', 'Lat': '40.4', 'Long': '-3.715'},
 {'neigborhood': 'Casco Histórico de Vicálvaro',
  'Lat': '40.405',
  'Long': '-3.605'},
 {'neigborhood': 'Ambroz', 'Lat': '40.405', 'Long': '-3.61'},
 {'neigborhood': 'Horcajo', 'Lat': '40.405', 'Long': '-3.63'},
 {'neigborhood': 'Fontarrón', 'Lat': '40.405', 'Long': '-3.65'},
 {'neigborhood': 'Adelfas', 'Lat': '40.405', 'Long': '-3.67'},
 {'neigborhood': 'Pacífico', 'Lat': '40.405', 'Long': '-3.675'},
 {'neigborhood': 'Pacífico', 'Lat': '40.405', 'Long': '-3.68'},
 {'neigborhood': 'Pacífico', 'Lat': '40.405', 'Long': '-3.685'},
 {'neigborhood': 'Atocha', 'Lat': '40.405', 'Long': '-3.69'},
 {'neigborhood': 'Palos de la Frontera', 'Lat': '40.405', 'Long': '-3.695'},
 {'neigborhood': 'Palos de la Frontera', 'Lat': '40.405', 'Long': '-3.7'},
 {'neigborhood': 'Las Acacias', 'Lat': '40.405', 'Long': '-3.705'},
 {'neigborhood': 'Las Acacias', 'Lat': '40.405', 'Long': '-3.71'},
 {'neigborhood': 'Imperial', 'Lat': '40.405', 'Long': '-3.715'},
 {'neigborhood': 'Lucero', 'Lat': '40.405', 'Long': '-3.745'},
 {'neigborhood': 'Niño Jesús', 'Lat': '40.41', 'Long': '-3.67'},
 {'neigborhood': 'Niño Jesús', 'Lat': '40.41', 'Long': '-3.675'},
 {'neigborhood': 'Lavapiés', 'Lat': '40.41', 'Long': '-3.695'},
 {'neigborhood': 'Lavapiés', 'Lat': '40.41', 'Long': '-3.7'},
 {'neigborhood': 'Lavapiés', 'Lat': '40.41', 'Long': '-3.705'},
 {'neigborhood': 'Barrio de La Latina', 'Lat': '40.41', 'Long': '-3.71'},
 {'neigborhood': 'Palacio', 'Lat': '40.41', 'Long': '-3.715'},
 {'neigborhood': 'Imperial', 'Lat': '40.41', 'Long': '-3.72'},
 {'neigborhood': 'Niño Jesús', 'Lat': '40.415', 'Long': '-3.67'},
 {'neigborhood': 'Niño Jesús', 'Lat': '40.415', 'Long': '-3.675'},
 {'neigborhood': 'Jerónimos', 'Lat': '40.415', 'Long': '-3.69'},
 {'neigborhood': 'Cortes', 'Lat': '40.415', 'Long': '-3.695'},
 {'neigborhood': 'Barrio de las Letras', 'Lat': '40.415', 'Long': '-3.7'},
 {'neigborhood': 'Sol', 'Lat': '40.415', 'Long': '-3.705'},
 {'neigborhood': 'Palacio', 'Lat': '40.415', 'Long': '-3.71'},
 {'neigborhood': 'Palacio', 'Lat': '40.415', 'Long': '-3.715'},
 {'neigborhood': 'Puerta del Angel', 'Lat': '40.415', 'Long': '-3.725'},
 {'neigborhood': 'Casa de Campo', 'Lat': '40.415', 'Long': '-3.73'},
 {'neigborhood': 'Arcos', 'Lat': '40.42', 'Long': '-3.615'},
 {'neigborhood': 'Ibiza', 'Lat': '40.42', 'Long': '-3.67'},
 {'neigborhood': 'Ibiza', 'Lat': '40.42', 'Long': '-3.675'},
 {'neigborhood': 'Jerónimos', 'Lat': '40.42', 'Long': '-3.68'},
 {'neigborhood': 'Jerónimos', 'Lat': '40.42', 'Long': '-3.685'},
 {'neigborhood': 'Recoletos', 'Lat': '40.42', 'Long': '-3.69'},
 {'neigborhood': 'Justicia', 'Lat': '40.42', 'Long': '-3.695'},
 {'neigborhood': 'Justicia', 'Lat': '40.42', 'Long': '-3.7'},
 {'neigborhood': 'Sol', 'Lat': '40.42', 'Long': '-3.705'},
 {'neigborhood': 'Palacio', 'Lat': '40.42', 'Long': '-3.71'},
 {'neigborhood': 'Rosas', 'Lat': '40.425', 'Long': '-3.605'},
 {'neigborhood': 'Arcos', 'Lat': '40.425', 'Long': '-3.62'},
 {'neigborhood': 'Pueblo Nuevo', 'Lat': '40.425', 'Long': '-3.64'},
 {'neigborhood': 'La Elipa', 'Lat': '40.425', 'Long': '-3.655'},
 {'neigborhood': 'Fuente del Berro', 'Lat': '40.425', 'Long': '-3.665'},
 {'neigborhood': 'Goya', 'Lat': '40.425', 'Long': '-3.67'},
 {'neigborhood': 'Goya', 'Lat': '40.425', 'Long': '-3.675'},
 {'neigborhood': 'Goya', 'Lat': '40.425', 'Long': '-3.68'},
 {'neigborhood': 'Recoletos', 'Lat': '40.425', 'Long': '-3.685'},
 {'neigborhood': 'Recoletos', 'Lat': '40.425', 'Long': '-3.69'},
 {'neigborhood': 'Justicia', 'Lat': '40.425', 'Long': '-3.695'},
 {'neigborhood': 'Justicia', 'Lat': '40.425', 'Long': '-3.7'},
 {'neigborhood': 'Malasaña', 'Lat': '40.425', 'Long': '-3.705'},
 {'neigborhood': 'Malasaña', 'Lat': '40.425', 'Long': '-3.71'},
 {'neigborhood': 'Argüelles', 'Lat': '40.425', 'Long': '-3.715'},
 {'neigborhood': 'Casa de Campo', 'Lat': '40.425', 'Long': '-3.72'},
 {'neigborhood': 'Rosas', 'Lat': '40.43', 'Long': '-3.605'},
 {'neigborhood': 'Simancas', 'Lat': '40.43', 'Long': '-3.625'},
 {'neigborhood': 'Simancas', 'Lat': '40.43', 'Long': '-3.63'},
 {'neigborhood': 'Pueblo Nuevo', 'Lat': '40.43', 'Long': '-3.64'},
 {'neigborhood': 'Pueblo Nuevo', 'Lat': '40.43', 'Long': '-3.645'},
 {'neigborhood': 'La Elipa', 'Lat': '40.43', 'Long': '-3.66'},
 {'neigborhood': 'La Guindalera', 'Lat': '40.43', 'Long': '-3.665'},
 {'neigborhood': 'La Guindalera', 'Lat': '40.43', 'Long': '-3.67'},
 {'neigborhood': 'Lista', 'Lat': '40.43', 'Long': '-3.675'},
 {'neigborhood': 'Castellana', 'Lat': '40.43', 'Long': '-3.68'},
 {'neigborhood': 'Castellana', 'Lat': '40.43', 'Long': '-3.685'},
 {'neigborhood': 'Almagro', 'Lat': '40.43', 'Long': '-3.69'},
 {'neigborhood': 'Almagro', 'Lat': '40.43', 'Long': '-3.695'},
 {'neigborhood': 'Trafalgar', 'Lat': '40.43', 'Long': '-3.7'},
 {'neigborhood': 'Trafalgar', 'Lat': '40.43', 'Long': '-3.705'},
 {'neigborhood': 'Malasaña', 'Lat': '40.43', 'Long': '-3.71'},
 {'neigborhood': 'Malasaña', 'Lat': '40.43', 'Long': '-3.715'},
 {'neigborhood': 'Argüelles', 'Lat': '40.43', 'Long': '-3.72'},
 {'neigborhood': 'Rosas', 'Lat': '40.435', 'Long': '-3.61'},
 {'neigborhood': 'Simancas', 'Lat': '40.435', 'Long': '-3.625'},
 {'neigborhood': 'Simancas', 'Lat': '40.435', 'Long': '-3.63'},
 {'neigborhood': 'Simancas', 'Lat': '40.435', 'Long': '-3.635'},
 {'neigborhood': 'Pueblo Nuevo', 'Lat': '40.435', 'Long': '-3.64'},
 {'neigborhood': 'Quintana', 'Lat': '40.435', 'Long': '-3.645'},
 {'neigborhood': 'Quintana', 'Lat': '40.435', 'Long': '-3.65'},
 {'neigborhood': 'Concepción', 'Lat': '40.435', 'Long': '-3.655'},
 {'neigborhood': 'La Guindalera', 'Lat': '40.435', 'Long': '-3.66'},
 {'neigborhood': 'La Guindalera', 'Lat': '40.435', 'Long': '-3.665'},
 {'neigborhood': 'La Guindalera', 'Lat': '40.435', 'Long': '-3.67'},
 {'neigborhood': 'Lista', 'Lat': '40.435', 'Long': '-3.675'},
 {'neigborhood': 'Castellana', 'Lat': '40.435', 'Long': '-3.68'},
 {'neigborhood': 'Castellana', 'Lat': '40.435', 'Long': '-3.685'},
 {'neigborhood': 'Almagro', 'Lat': '40.435', 'Long': '-3.69'},
 {'neigborhood': 'Almagro', 'Lat': '40.435', 'Long': '-3.695'},
 {'neigborhood': 'Trafalgar', 'Lat': '40.435', 'Long': '-3.7'},
 {'neigborhood': 'Arapiles', 'Lat': '40.435', 'Long': '-3.705'},
 {'neigborhood': 'Arapiles', 'Lat': '40.435', 'Long': '-3.71'},
 {'neigborhood': 'Gaztambide', 'Lat': '40.435', 'Long': '-3.715'},
 {'neigborhood': 'Casa de Campo', 'Lat': '40.435', 'Long': '-3.72'},
 {'neigborhood': 'Ciudad Universitaria', 'Lat': '40.435', 'Long': '-3.735'},
 {'neigborhood': 'Simancas', 'Lat': '40.44', 'Long': '-3.62'},
 {'neigborhood': 'Simancas', 'Lat': '40.44', 'Long': '-3.625'},
 {'neigborhood': 'Simancas', 'Lat': '40.44', 'Long': '-3.63'},
 {'neigborhood': 'El Salvador', 'Lat': '40.44', 'Long': '-3.635'},
 {'neigborhood': 'Quintana', 'Lat': '40.44', 'Long': '-3.64'},
 {'neigborhood': 'Concepción', 'Lat': '40.44', 'Long': '-3.645'},
 {'neigborhood': 'San Pascual', 'Lat': '40.44', 'Long': '-3.65'},
 {'neigborhood': 'San Pascual', 'Lat': '40.44', 'Long': '-3.655'},
 {'neigborhood': 'La Guindalera', 'Lat': '40.44', 'Long': '-3.67'},
 {'neigborhood': 'Prosperidad', 'Lat': '40.44', 'Long': '-3.675'},
 {'neigborhood': 'El Viso', 'Lat': '40.44', 'Long': '-3.68'},
 {'neigborhood': 'El Viso', 'Lat': '40.44', 'Long': '-3.69'},
 {'neigborhood': 'Ríos Rosas', 'Lat': '40.44', 'Long': '-3.695'},
 {'neigborhood': 'Ríos Rosas', 'Lat': '40.44', 'Long': '-3.7'},
 {'neigborhood': 'Vallehermoso', 'Lat': '40.44', 'Long': '-3.71'},
 {'neigborhood': 'Vallehermoso', 'Lat': '40.44', 'Long': '-3.715'},
 {'neigborhood': 'Rejas', 'Lat': '40.445', 'Long': '-3.59'},
 {'neigborhood': 'Canillejas', 'Lat': '40.445', 'Long': '-3.61'},
 {'neigborhood': 'San Pascual', 'Lat': '40.445', 'Long': '-3.65'},
 {'neigborhood': 'San Pascual', 'Lat': '40.445', 'Long': '-3.655'},
 {'neigborhood': 'Prosperidad', 'Lat': '40.445', 'Long': '-3.665'},
 {'neigborhood': 'Prosperidad', 'Lat': '40.445', 'Long': '-3.67'},
 {'neigborhood': 'Ciudad Jardín', 'Lat': '40.445', 'Long': '-3.675'},
 {'neigborhood': 'El Viso', 'Lat': '40.445', 'Long': '-3.68'},
 {'neigborhood': 'Ríos Rosas', 'Lat': '40.445', 'Long': '-3.695'},
 {'neigborhood': 'Ríos Rosas', 'Lat': '40.445', 'Long': '-3.7'},
 {'neigborhood': 'Vallehermoso', 'Lat': '40.445', 'Long': '-3.705'},
 {'neigborhood': 'Vallehermoso', 'Lat': '40.445', 'Long': '-3.71'},
 {'neigborhood': 'Vallehermoso', 'Lat': '40.445', 'Long': '-3.715'},
 {'neigborhood': 'Aravaca', 'Lat': '40.445', 'Long': '-3.785'},
 {'neigborhood': 'Aeropuerto', 'Lat': '40.45', 'Long': '-3.57'},
 {'neigborhood': 'Aeropuerto', 'Lat': '40.45', 'Long': '-3.58'},
 {'neigborhood': 'Aeropuerto', 'Lat': '40.45', 'Long': '-3.585'},
 {'neigborhood': 'Aeropuerto', 'Lat': '40.45', 'Long': '-3.59'},
 {'neigborhood': 'San Juan Bautista', 'Lat': '40.45', 'Long': '-3.65'},
 {'neigborhood': 'San Juan Bautista', 'Lat': '40.45', 'Long': '-3.655'},
 {'neigborhood': 'San Juan Bautista', 'Lat': '40.45', 'Long': '-3.66'},
 {'neigborhood': 'Prosperidad', 'Lat': '40.45', 'Long': '-3.665'},
 {'neigborhood': 'Ciudad Jardín', 'Lat': '40.45', 'Long': '-3.67'},
 {'neigborhood': 'Ciudad Jardín', 'Lat': '40.45', 'Long': '-3.675'},
 {'neigborhood': 'El Viso', 'Lat': '40.45', 'Long': '-3.68'},
 {'neigborhood': 'El Viso', 'Lat': '40.45', 'Long': '-3.685'},
 {'neigborhood': 'El Viso', 'Lat': '40.45', 'Long': '-3.69'},
 {'neigborhood': 'AZCA', 'Lat': '40.45', 'Long': '-3.695'},
 {'neigborhood': 'Cuatro Caminos', 'Lat': '40.45', 'Long': '-3.7'},
 {'neigborhood': 'Bellas Vistas', 'Lat': '40.45', 'Long': '-3.705'},
 {'neigborhood': 'Bellas Vistas', 'Lat': '40.45', 'Long': '-3.71'},
 {'neigborhood': 'Ciudad Universitaria', 'Lat': '40.45', 'Long': '-3.715'},
 {'neigborhood': 'Alameda de Osuna', 'Lat': '40.455', 'Long': '-3.585'},
 {'neigborhood': 'Colina', 'Lat': '40.455', 'Long': '-3.66'},
 {'neigborhood': 'Hispanoamérica', 'Lat': '40.455', 'Long': '-3.665'},
 {'neigborhood': 'Hispanoamérica', 'Lat': '40.455', 'Long': '-3.675'},
 {'neigborhood': 'Hispanoamérica', 'Lat': '40.455', 'Long': '-3.68'},
 {'neigborhood': 'Hispanoamérica', 'Lat': '40.455', 'Long': '-3.685'},
 {'neigborhood': 'Hispanoamérica', 'Lat': '40.455', 'Long': '-3.69'},
 {'neigborhood': 'Cuatro Caminos', 'Lat': '40.455', 'Long': '-3.695'},
 {'neigborhood': 'Cuatro Caminos', 'Lat': '40.455', 'Long': '-3.7'},
 {'neigborhood': 'Bellas Vistas', 'Lat': '40.455', 'Long': '-3.705'},
 {'neigborhood': 'Bellas Vistas', 'Lat': '40.455', 'Long': '-3.71'},
 {'neigborhood': 'Colina', 'Lat': '40.46', 'Long': '-3.66'},
 {'neigborhood': 'Nueva España', 'Lat': '40.46', 'Long': '-3.675'},
 {'neigborhood': 'Nueva España', 'Lat': '40.46', 'Long': '-3.68'},
 {'neigborhood': 'Nueva España', 'Lat': '40.46', 'Long': '-3.685'},
 {'neigborhood': 'Castillejos', 'Lat': '40.46', 'Long': '-3.69'},
 {'neigborhood': 'Castillejos', 'Lat': '40.46', 'Long': '-3.695'},
 {'neigborhood': 'Berruguete', 'Lat': '40.46', 'Long': '-3.7'},
 {'neigborhood': 'Aravaca', 'Lat': '40.46', 'Long': '-3.785'},
 {'neigborhood': 'Corralejos', 'Lat': '40.465', 'Long': '-3.625'},
 {'neigborhood': 'Canillas', 'Lat': '40.465', 'Long': '-3.635'},
 {'neigborhood': 'Canillas', 'Lat': '40.465', 'Long': '-3.64'},
 {'neigborhood': 'Nueva España', 'Lat': '40.465', 'Long': '-3.685'},
 {'neigborhood': 'Castillejos', 'Lat': '40.465', 'Long': '-3.69'},
 {'neigborhood': 'Valdeacederas', 'Lat': '40.465', 'Long': '-3.695'},
 {'neigborhood': 'Valdeacederas', 'Lat': '40.465', 'Long': '-3.7'},
 {'neigborhood': 'Valdemarín', 'Lat': '40.465', 'Long': '-3.785'},
 {'neigborhood': 'Valdemarín', 'Lat': '40.465', 'Long': '-3.79'},
 {'neigborhood': 'Valdemarín', 'Lat': '40.465', 'Long': '-3.795'},
 {'neigborhood': 'Pinar del Rey', 'Lat': '40.47', 'Long': '-3.645'},
 {'neigborhood': 'Pinar del Rey', 'Lat': '40.47', 'Long': '-3.65'},
 {'neigborhood': 'Castilla', 'Lat': '40.47', 'Long': '-3.68'},
 {'neigborhood': 'Castilla', 'Lat': '40.47', 'Long': '-3.685'},
 {'neigborhood': 'Almenara', 'Lat': '40.47', 'Long': '-3.69'},
 {'neigborhood': 'Casco Histórico de Barajas',
  'Lat': '40.475',
  'Long': '-3.58'},
 {'neigborhood': 'Valdefuentes', 'Lat': '40.475', 'Long': '-3.63'},
 {'neigborhood': 'Valdefuentes', 'Lat': '40.475', 'Long': '-3.635'},
 {'neigborhood': 'Pinar del Rey', 'Lat': '40.475', 'Long': '-3.64'},
 {'neigborhood': 'Costillares', 'Lat': '40.475', 'Long': '-3.67'},
 {'neigborhood': 'El Pilar', 'Lat': '40.475', 'Long': '-3.705'},
 {'neigborhood': 'Peñagrande', 'Lat': '40.475', 'Long': '-3.72'},
 {'neigborhood': 'Costillares', 'Lat': '40.48', 'Long': '-3.67'},
 {'neigborhood': 'Castilla', 'Lat': '40.48', 'Long': '-3.675'},
 {'neigborhood': 'La Paz', 'Lat': '40.48', 'Long': '-3.7'},
 {'neigborhood': 'El Pilar', 'Lat': '40.48', 'Long': '-3.71'},
 {'neigborhood': 'Peñagrande', 'Lat': '40.48', 'Long': '-3.72'},
 {'neigborhood': 'Sanchinarro', 'Lat': '40.485', 'Long': '-3.665'},
 {'neigborhood': 'La Paz', 'Lat': '40.485', 'Long': '-3.7'},
 {'neigborhood': 'La Paz', 'Lat': '40.485', 'Long': '-3.705'},
 {'neigborhood': 'Peñagrande', 'Lat': '40.485', 'Long': '-3.72'},
 {'neigborhood': 'Sanchinarro', 'Lat': '40.49', 'Long': '-3.65'},
 {'neigborhood': 'Sanchinarro', 'Lat': '40.49', 'Long': '-3.665'},
 {'neigborhood': 'Sanchinarro', 'Lat': '40.495', 'Long': '-3.655'},
 {'neigborhood': 'Las Tablas', 'Lat': '40.5', 'Long': '-3.675'},
 {'neigborhood': 'Mirasierra', 'Lat': '40.5', 'Long': '-3.705'},
 {'neigborhood': 'Las Tablas', 'Lat': '40.505', 'Long': '-3.665'},
 {'neigborhood': 'Las Tablas', 'Lat': '40.505', 'Long': '-3.67'},
 {'neigborhood': 'Las Tablas', 'Lat': '40.505', 'Long': '-3.675'},
 {'neigborhood': 'Montecarmelo', 'Lat': '40.505', 'Long': '-3.695'},
 {'neigborhood': 'Montecarmelo', 'Lat': '40.505', 'Long': '-3.705'},
 {'neigborhood': 'Las Tablas', 'Lat': '40.51', 'Long': '-3.67'},
 {'neigborhood': 'Las Tablas', 'Lat': '40.51', 'Long': '-3.675'},
 {'neigborhood': 'Las Tablas', 'Lat': '40.51', 'Long': '-3.68'},
 {'neigborhood': 'Montecarmelo', 'Lat': '40.51', 'Long': '-3.69'},
 {'neigborhood': 'Montecarmelo', 'Lat': '40.51', 'Long': '-3.695'},
 {'neigborhood': 'El Pardo', 'Lat': '40.52', 'Long': '-3.775'}]

In [121]:
cities_df = pd.DataFrame(cities)

In [122]:
cities_df.head()

      Lat    Long                  neigborhood
0  40.345  -3.675                     Butarque
1  40.345  -3.705                   San Andrés
2  40.355  -3.685                  Los Rosales
3   40.36  -3.695                  Los Angeles
4  40.365  -3.595  Casco Histórico de Vallecas

In [123]:
cities_df.to_sql('neigborhoods', con=engine, if_exists='replace')